/*
Title: Padding CSS rules
Author: Andrew Somerville (Capsicum Corporation) <andrew@capsicumcorp.com>
    Daniel Scott-Smith (Capsicum Corporation) <daniel@capsicumcorp.com>
    Brent Jarmaine (Capsicum Corporation) <brenton@capsicumcorp.com>
Description: A set of commonly used padding sizes
Copyright: Capsicum Corporation 2015, 2016, 2017

This file is part of iOmy.

iOmy is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

iOmy is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with iOmy.  If not, see <http://www.gnu.org/licenses/>.

*/

/*********************************************
 * 		CONTENTS
 *********************************************
 #1.0# - Special Padding
 #2.0# - Pad All
 #3.0# - Pad Top
 #4.0# - Pad Bottom
 #5.0# - Pad Left
 #6.0# - Pad Right
 #7.0# - Pad All REMS
 #8.0# - Pad Top REMS
 #9.0# - Pad Bottom REMS
 #10.0# - Pad Left REMS
 #11.0# - Pad Right REMS
  ********************************************/

  
  
/*********************************************
 * #1.0# - SPECIAL PADDING
 *********************************************/
.PadAll3em {
	padding: 0.3em;
}

.PadAll5em {
	padding: 0.5em;
}

.PadAll7em {
	padding: 0.7em;
}

.PadAll1em {
	padding: 1em;
}

/*********************************************
 * #2.0# - PAD ALL
 *********************************************/

.PadAll0px {
	padding: 0px;
}
 
.PadAll1px {
	padding: 1px;
}

.PadAll2px {
	padding: 2px;
}

.PadAll3px {
	padding: 3px;
}

.PadAll4px {
	padding: 4px;
}

.PadAll5px {
	padding: 5px;
}

.PadAll6px {
	padding: 6px;
}

.PadAll7px {
	padding: 7px;
}

.PadAll8px {
	padding: 8px;
}

.PadAll9px {
	padding: 9px;
}

.PadAll10px {
	padding: 10px;
}

.PadAll11px {
	padding: 11px;
}

.PadAll12px {
	padding: 12px;
}

.PadAll13px {
	padding: 13px;
}

.PadAll14px {
	padding: 14px;
}

.PadAll15px {
	padding: 15px;
}

.PadAll16px {
	padding: 16px;
}

.PadAll17px {
	padding: 17px;
}

.PadAll18px {
	padding: 18px;
}

.PadAll19px {
	padding: 19px;
}

.PadAll20px {
	padding: 20px;
}

.PadAll25px {
	padding: 25px;
}

.PadAll30px {
	padding: 30px;
}

.PadAll35px {
	padding: 35px;
}

.PadAll40px {
	padding: 40px;
}

.PadAll45px {
	padding: 45px;
}

.PadAll50px {
	padding: 50px;
}
/*********************************************
 * #3.0# - PAD TOP
 *********************************************/

.PadTop0px {
	padding-top: 0px;
}
 
.PadTop1px {
	padding-top: 1px;
}

.PadTop2px {
	padding-top: 2px;
}

.PadTop3px {
	padding-top: 3px;
}

.PadTop4px {
	padding-top: 4px;
}

.PadTop5px {
	padding-top: 5px;
}

.PadTop6px {
	padding-top: 6px;
}

.PadTop7px {
	padding-top: 7px;
}

.PadTop8px {
	padding-top: 8px;
}

.PadTop9px {
	padding-top: 9px;
}

.PadTop10px {
	padding-top: 10px;
}

.PadTop11px {
	padding-top: 11px;
}

.PadTop12px {
	padding-top: 12px;
}

.PadTop13px {
	padding-top: 13px;
}

.PadTop14px {
	padding-top: 14px;
}

.PadTop15px {
	padding-top: 15px;
}

.PadTop16px {
	padding-top: 16px;
}

.PadTop17px {
	padding-top: 17px;
}

.PadTop18px {
	padding-top: 18px;
}

.PadTop19px {
	padding-top: 19px;
}

.PadTop20px {
	padding-top: 20px;
}

.PadTop25px {
	padding-top: 25px;
}

.PadTop30px {
	padding-top: 30px;
}

.PadTop35px {
	padding-top: 35px;
}

.PadTop40px {
	padding-top: 40px;
}

.PadTop45px {
	padding-top: 45px;
}

.PadTop50px {
	padding-top: 50px;
}

/*********************************************
 * #4.0# - PAD BOTTOM
 *********************************************/

.PadBottom0px {
	padding-bottom: 0px;
}
 
.PadBottom1px {
	padding-bottom: 1px;
}

.PadBottom2px {
	padding-bottom: 2px;
}

.PadBottom3px {
	padding-bottom: 3px;
}

.PadBottom4px {
	padding-bottom: 4px;
}

.PadBottom5px {
	padding-bottom: 5px;
}

.PadBottom6px {
	padding-bottom: 6px;
}

.PadBottom7px {
	padding-bottom: 7px;
}

.PadBottom8px {
	padding-bottom: 8px;
}

.PadBottom9px {
	padding-bottom: 9px;
}

.PadBottom10px {
	padding-bottom: 10px;
}

.PadBottom11px {
	padding-bottom: 11px;
}

.PadBottom12px {
	padding-bottom: 12px;
}

.PadBottom13px {
	padding-bottom: 13px;
}

.PadBottom14px {
	padding-bottom: 14px;
}

.PadBottom15px {
	padding-bottom: 15px;
}

.PadBottom16px {
	padding-bottom: 16px;
}

.PadBottom17px {
	padding-bottom: 17px;
}

.PadBottom18px {
	padding-bottom: 18px;
}

.PadBottom19px {
	padding-bottom: 19px;
}

.PadBottom20px {
	padding-bottom: 20px;
}

.PadBottom25px {
	padding-bottom: 25px;
}

.PadBottom30px {
	padding-bottom: 30px;
}

.PadBottom35px {
	padding-bottom: 35px;
}

.PadBottom40px {
	padding-bottom: 40px;
}

.PadBottom45px {
	padding-bottom: 45px;
}

.PadBottom50px {
	padding-bottom: 50px;
}

/*********************************************
 * #5.0# - PAD LEFT
 *********************************************/

.PadLeft0px {
	padding-left: 0px;
}
 
.PadLeft1px {
	padding-left: 1px;
}

.PadLeft2px {
	padding-left: 2px;
}

.PadLeft3px {
	padding-left: 3px;
}

.PadLeft4px {
	padding-left: 4px;
}

.PadLeft5px {
	padding-left: 5px;
}

.PadLeft6px {
	padding-left: 6px;
}

.PadLeft7px {
	padding-left: 7px;
}

.PadLeft8px {
	padding-left: 8px;
}

.PadLeft9px {
	padding-left: 9px;
}

.PadLeft10px {
	padding-left: 10px;
}

.PadLeft11px {
	padding-left: 11px;
}

.PadLeft12px {
	padding-left: 12px;
}

.PadLeft13px {
	padding-left: 13px;
}

.PadLeft14px {
	padding-left: 14px;
}

.PadLeft15px {
	padding-left: 15px;
}

.PadLeft16px {
	padding-left: 16px;
}

.PadLeft17px {
	padding-left: 17px;
}

.PadLeft18px {
	padding-left: 18px;
}

.PadLeft19px {
	padding-left: 19px;
}

.PadLeft20px {
	padding-left: 20px;
}

.PadLeft25px {
	padding-left: 25px;
}

.PadLeft30px {
	padding-left: 30px;
}

.PadLeft35px {
	padding-left: 35px;
}

.PadLeft40px {
	padding-left: 40px;
}

.PadLeft45px {
	padding-left: 45px;
}

.PadLeft50px {
	padding-left: 50px;
}

/*********************************************
 * #6.0# - PAD RIGHT
 *********************************************/

.PadRight0px {
	padding-right: 0px;
}
 
.PadRight1px {
	padding-right: 1px;
}

.PadRight2px {
	padding-right: 2px;
}

.PadRight3px {
	padding-right: 3px;
}

.PadRight4px {
	padding-right: 4px;
}

.PadRight5px {
	padding-right: 5px;
}

.PadRight6px {
	padding-right: 6px;
}

.PadRight7px {
	padding-right: 7px;
}

.PadRight8px {
	padding-right: 8px;
}

.PadRight9px {
	padding-right: 9px;
}

.PadRight10px {
	padding-right: 10px;
}

.PadRight11px {
	padding-right: 11px;
}

.PadRight12px {
	padding-right: 12px;
}

.PadRight13px {
	padding-right: 13px;
}

.PadRight14px {
	padding-right: 14px;
}

.PadRight15px {
	padding-right: 15px;
}

.PadRight16px {
	padding-right: 16px;
}

.PadRight17px {
	padding-right: 17px;
}

.PadRight18px {
	padding-right: 18px;
}

.PadRight19px {
	padding-right: 19px;
}

.PadRight20px {
	padding-right: 20px;
}

.PadRight25px {
	padding-right: 25px;
}

.PadRight30px {
	padding-right: 30px;
}

.PadRight35px {
	padding-right: 35px;
}

.PadRight40px {
	padding-right: 40px;
}

.PadRight45px {
	padding-right: 45px;
}

.PadRight50px {
	padding-right: 50px;
}


.PadChildNone > div {
	padding: 0px;
}

/*********************************************
 * #7.0# - PAD ALL REMS
 *********************************************/
 
.PadAll0d125Rem {
	padding: 0.125rem;
}

.PadAll0d25Rem {
	padding: 0.25rem;
}

.PadAll0d375Rem {
	padding: 0.375rem;
}

.PadAll0d5Rem {
	padding: 0.5rem;
}

.PadAll0d625Rem {
	padding: 0.625rem;
}

.PadAll0d75Rem {
	padding: 0.75rem;
}

.PadAll0d875Rem {
	padding: 0.875rem;
}

.PadAll1d0Rem {
	padding: 1.0rem;
}


.PadAll1d125Rem {
	padding: 1.125rem;
}

.PadAll1d25Rem {
	padding: 1.25rem;
}

.PadAll1d375Rem {
	padding: 1.375rem;
}

.PadAll1d5Rem {
	padding: 1.5rem;
}

.PadAll1d625Rem {
	padding: 1.625rem;
}

.PadAll1d75Rem {
	padding: 1.75rem;
}

.PadAll1d875Rem {
	padding: 1.875rem;
}

.PadAll2d0Rem {
	padding: 2.0rem;
}

.PadAll2d125Rem {
	padding: 2.125rem;
}

.PadAll2d25Rem {
	padding: 2.25rem;
}

.PadAll2d375Rem {
	padding: 2.375rem;
}

.PadAll2d5Rem {
	padding: 2.5rem;
}

.PadAll2d625Rem {
	padding: 2.625rem;
}

.PadAll2d75Rem {
	padding: 2.75rem;
}

.PadAll2d875Rem {
	padding: 2.875rem;
}

.PadAll3d0Rem {
	padding: 3.0rem;
}

.PadAll3d125Rem {
	padding: 3.125rem;
}

.PadAll3d25Rem {
	padding: 3.25rem;
}

.PadAll3d375Rem {
	padding: 3.375rem;
}

.PadAll3d5Rem {
	padding: 3.5rem;
}

.PadAll3d625Rem {
	padding: 3.625rem;
}

.PadAll3d75Rem {
	padding: 3.75rem;
}

.PadAll3d875Rem {
	padding: 3.875rem;
}

.PadAll4d0Rem {
	padding: 4.0rem;
}

.PadAll4d125Rem {
	padding: 4.125rem;
}

.PadAll4d25Rem {
	padding: 4.25rem;
}

.PadAll4d375Rem {
	padding: 4.375rem;
}

.PadAll4d5Rem {
	padding: 4.5rem;
}

.PadAll4d625Rem {
	padding: 4.625rem;
}

.PadAll4d75Rem {
	padding: 4.75rem;
}

.PadAll4d875Rem {
	padding: 4.875rem;
}

.PadAll5d0Rem {
	padding: 5.0rem;
}

/*********************************************
 * #8.0# - PAD Top REMS
 *********************************************/
 
.PadTop0d125Rem {
	padding-top: 0.125rem;
}

.PadTop0d25Rem {
	padding-top: 0.25rem;
}

.PadTop0d375Rem {
	padding-top: 0.375rem;
}

.PadTop0d5Rem {
	padding-top: 0.5rem;
}

.PadTop0d625Rem {
	padding-top: 0.625rem;
}

.PadTop0d75Rem {
	padding-top: 0.75rem;
}

.PadTop0d875Rem {
	padding-top: 0.875rem;
}

.PadTop1d0Rem {
	padding-top: 1.0rem;
}


.PadTop1d125Rem {
	padding-top: 1.125rem;
}

.PadTop1d25Rem {
	padding-top: 1.25rem;
}

.PadTop1d375Rem {
	padding-top: 1.375rem;
}

.PadTop1d5Rem {
	padding-top: 1.5rem;
}

.PadTop1d625Rem {
	padding-top: 1.625rem;
}

.PadTop1d75Rem {
	padding-top: 1.75rem;
}

.PadTop1d875Rem {
	padding-top: 1.875rem;
}

.PadTop2d0Rem {
	padding-top: 2.0rem;
}

.PadTop2d125Rem {
	padding-top: 2.125rem;
}

.PadTop2d25Rem {
	padding-top: 2.25rem;
}

.PadTop2d375Rem {
	padding-top: 2.375rem;
}

.PadTop2d5Rem {
	padding-top: 2.5rem;
}

.PadTop2d625Rem {
	padding-top: 2.625rem;
}

.PadTop2d75Rem {
	padding-top: 2.75rem;
}

.PadTop2d875Rem {
	padding-top: 2.875rem;
}

.PadTop3d0Rem {
	padding-top: 3.0rem;
}

.PadTop3d125Rem {
	padding-top: 3.125rem;
}

.PadTop3d25Rem {
	padding-top: 3.25rem;
}

.PadTop3d375Rem {
	padding-top: 3.375rem;
}

.PadTop3d5Rem {
	padding-top: 3.5rem;
}

.PadTop3d625Rem {
	padding-top: 3.625rem;
}

.PadTop3d75Rem {
	padding-top: 3.75rem;
}

.PadTop3d875Rem {
	padding-top: 3.875rem;
}

.PadTop4d0Rem {
	padding-top: 4.0rem;
}

.PadTop4d125Rem {
	padding-top: 4.125rem;
}

.PadTop4d25Rem {
	padding-top: 4.25rem;
}

.PadTop4d375Rem {
	padding-top: 4.375rem;
}

.PadTop4d5Rem {
	padding-top: 4.5rem;
}

.PadTop4d625Rem {
	padding-top: 4.625rem;
}

.PadTop4d75Rem {
	padding-top: 4.75rem;
}

.PadTop4d875Rem {
	padding-top: 4.875rem;
}

.PadTop5d0Rem {
	padding-top: 5.0rem;
}

/*********************************************
 * #9.0# - PAD Bottom REMS
 *********************************************/
 
.PadBottom0d125Rem {
	padding-bottom: 0.125rem;
}

.PadBottom0d25Rem {
	padding-bottom: 0.25rem;
}

.PadBottom0d375Rem {
	padding-bottom: 0.375rem;
}

.PadBottom0d5Rem {
	padding-bottom: 0.5rem;
}

.PadBottom0d625Rem {
	padding-bottom: 0.625rem;
}

.PadBottom0d75Rem {
	padding-bottom: 0.75rem;
}

.PadBottom0d875Rem {
	padding-bottom: 0.875rem;
}

.PadBottom1d0Rem {
	padding-bottom: 1.0rem;
}


.PadBottom1d125Rem {
	padding-bottom: 1.125rem;
}

.PadBottom1d25Rem {
	padding-bottom: 1.25rem;
}

.PadBottom1d375Rem {
	padding-bottom: 1.375rem;
}

.PadBottom1d5Rem {
	padding-bottom: 1.5rem;
}

.PadBottom1d625Rem {
	padding-bottom: 1.625rem;
}

.PadBottom1d75Rem {
	padding-bottom: 1.75rem;
}

.PadBottom1d875Rem {
	padding-bottom: 1.875rem;
}

.PadBottom2d0Rem {
	padding-bottom: 2.0rem;
}

.PadBottom2d125Rem {
	padding-bottom: 2.125rem;
}

.PadBottom2d25Rem {
	padding-bottom: 2.25rem;
}

.PadBottom2d375Rem {
	padding-bottom: 2.375rem;
}

.PadBottom2d5Rem {
	padding-bottom: 2.5rem;
}

.PadBottom2d625Rem {
	padding-bottom: 2.625rem;
}

.PadBottom2d75Rem {
	padding-bottom: 2.75rem;
}

.PadBottom2d875Rem {
	padding-bottom: 2.875rem;
}

.PadBottom3d0Rem {
	padding-bottom: 3.0rem;
}

.PadBottom3d125Rem {
	padding-bottom: 3.125rem;
}

.PadBottom3d25Rem {
	padding-bottom: 3.25rem;
}

.PadBottom3d375Rem {
	padding-bottom: 3.375rem;
}

.PadBottom3d5Rem {
	padding-bottom: 3.5rem;
}

.PadBottom3d625Rem {
	padding-bottom: 3.625rem;
}

.PadBottom3d75Rem {
	padding-bottom: 3.75rem;
}

.PadBottom3d875Rem {
	padding-bottom: 3.875rem;
}

.PadBottom4d0Rem {
	padding-bottom: 4.0rem;
}

.PadBottom4d125Rem {
	padding-bottom: 4.125rem;
}

.PadBottom4d25Rem {
	padding-bottom: 4.25rem;
}

.PadBottom4d375Rem {
	padding-bottom: 4.375rem;
}

.PadBottom4d5Rem {
	padding-bottom: 4.5rem;
}

.PadBottom4d625Rem {
	padding-bottom: 4.625rem;
}

.PadBottom4d75Rem {
	padding-bottom: 4.75rem;
}

.PadBottom4d875Rem {
	padding-bottom: 4.875rem;
}

.PadBottom5d0Rem {
	padding-bottom: 5.0rem;
}

/*********************************************
 * #10.0# - PAD Left REMS
 *********************************************/
 
.PadLeft0d125Rem {
	padding-left: 0.125rem;
}

.PadLeft0d25Rem {
	padding-left: 0.25rem;
}

.PadLeft0d375Rem {
	padding-left: 0.375rem;
}

.PadLeft0d5Rem {
	padding-left: 0.5rem;
}

.PadLeft0d625Rem {
	padding-left: 0.625rem;
}

.PadLeft0d75Rem {
	padding-left: 0.75rem;
}

.PadLeft0d875Rem {
	padding-left: 0.875rem;
}

.PadLeft1d0Rem {
	padding-left: 1.0rem;
}


.PadLeft1d125Rem {
	padding-left: 1.125rem;
}

.PadLeft1d25Rem {
	padding-left: 1.25rem;
}

.PadLeft1d375Rem {
	padding-left: 1.375rem;
}

.PadLeft1d5Rem {
	padding-left: 1.5rem;
}

.PadLeft1d625Rem {
	padding-left: 1.625rem;
}

.PadLeft1d75Rem {
	padding-left: 1.75rem;
}

.PadLeft1d875Rem {
	padding-left: 1.875rem;
}

.PadLeft2d0Rem {
	padding-left: 2.0rem;
}

.PadLeft2d125Rem {
	padding-left: 2.125rem;
}

.PadLeft2d25Rem {
	padding-left: 2.25rem;
}

.PadLeft2d375Rem {
	padding-left: 2.375rem;
}

.PadLeft2d5Rem {
	padding-left: 2.5rem;
}

.PadLeft2d625Rem {
	padding-left: 2.625rem;
}

.PadLeft2d75Rem {
	padding-left: 2.75rem;
}

.PadLeft2d875Rem {
	padding-left: 2.875rem;
}

.PadLeft3d0Rem {
	padding-left: 3.0rem;
}

.PadLeft3d125Rem {
	padding-left: 3.125rem;
}

.PadLeft3d25Rem {
	padding-left: 3.25rem;
}

.PadLeft3d375Rem {
	padding-left: 3.375rem;
}

.PadLeft3d5Rem {
	padding-left: 3.5rem;
}

.PadLeft3d625Rem {
	padding-left: 3.625rem;
}

.PadLeft3d75Rem {
	padding-left: 3.75rem;
}

.PadLeft3d875Rem {
	padding-left: 3.875rem;
}

.PadLeft4d0Rem {
	padding-left: 4.0rem;
}

.PadLeft4d125Rem {
	padding-left: 4.125rem;
}

.PadLeft4d25Rem {
	padding-left: 4.25rem;
}

.PadLeft4d375Rem {
	padding-left: 4.375rem;
}

.PadLeft4d5Rem {
	padding-left: 4.5rem;
}

.PadLeft4d625Rem {
	padding-left: 4.625rem;
}

.PadLeft4d75Rem {
	padding-left: 4.75rem;
}

.PadLeft4d875Rem {
	padding-left: 4.875rem;
}

.PadLeft5d0Rem {
	padding-left: 5.0rem;
}

/*********************************************
 * #11.0# - PAD Right REMS
 *********************************************/
 
.PadRight0d125Rem {
	padding-right: 0.125rem;
}

.PadRight0d25Rem {
	padding-right: 0.25rem;
}

.PadRight0d375Rem {
	padding-right: 0.375rem;
}

.PadRight0d5Rem {
	padding-right: 0.5rem;
}

.PadRight0d625Rem {
	padding-right: 0.625rem;
}

.PadRight0d75Rem {
	padding-right: 0.75rem;
}

.PadRight0d875Rem {
	padding-right: 0.875rem;
}

.PadRight1d0Rem {
	padding-right: 1.0rem;
}


.PadRight1d125Rem {
	padding-right: 1.125rem;
}

.PadRight1d25Rem {
	padding-right: 1.25rem;
}

.PadRight1d375Rem {
	padding-right: 1.375rem;
}

.PadRight1d5Rem {
	padding-right: 1.5rem;
}

.PadRight1d625Rem {
	padding-right: 1.625rem;
}

.PadRight1d75Rem {
	padding-right: 1.75rem;
}

.PadRight1d875Rem {
	padding-right: 1.875rem;
}

.PadRight2d0Rem {
	padding-right: 2.0rem;
}

.PadRight2d125Rem {
	padding-right: 2.125rem;
}

.PadRight2d25Rem {
	padding-right: 2.25rem;
}

.PadRight2d375Rem {
	padding-right: 2.375rem;
}

.PadRight2d5Rem {
	padding-right: 2.5rem;
}

.PadRight2d625Rem {
	padding-right: 2.625rem;
}

.PadRight2d75Rem {
	padding-right: 2.75rem;
}

.PadRight2d875Rem {
	padding-right: 2.875rem;
}

.PadRight3d0Rem {
	padding-right: 3.0rem;
}

.PadRight3d125Rem {
	padding-right: 3.125rem;
}

.PadRight3d25Rem {
	padding-right: 3.25rem;
}

.PadRight3d375Rem {
	padding-right: 3.375rem;
}

.PadRight3d5Rem {
	padding-right: 3.5rem;
}

.PadRight3d625Rem {
	padding-right: 3.625rem;
}

.PadRight3d75Rem {
	padding-right: 3.75rem;
}

.PadRight3d875Rem {
	padding-right: 3.875rem;
}

.PadRight4d0Rem {
	padding-right: 4.0rem;
}

.PadRight4d125Rem {
	padding-right: 4.125rem;
}

.PadRight4d25Rem {
	padding-right: 4.25rem;
}

.PadRight4d375Rem {
	padding-right: 4.375rem;
}

.PadRight4d5Rem {
	padding-right: 4.5rem;
}

.PadRight4d625Rem {
	padding-right: 4.625rem;
}

.PadRight4d75Rem {
	padding-right: 4.75rem;
}

.PadRight4d875Rem {
	padding-right: 4.875rem;
}

.PadRight5d0Rem {
	padding-right: 5.0rem;
}
