/*
Title: Colour Palette CSS rules
Author: Andrew Somerville (Capsicum Corporation) <andrew@capsicumcorp.com>
    Daniel Scott-Smith (Capsicum Corporation) <daniel@capsicumcorp.com>
    Brent Jarmaine (Capsicum Corporation) <brenton@capsicumcorp.com>
Description: CSS rules making up a colour palette.
Copyright: Capsicum Corporation 2015, 2016, 2017

This file is part of iOmy.

iOmy is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

iOmy is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with iOmy.  If not, see <http://www.gnu.org/licenses/>.

*/


/*********************************
** TABLE OF CONTENTS			**
**********************************
	1.0 Background Colours
		1.1 Basic Colours
			1.1.1 Red
			1.1.2 Orange
			1.1.3 Yellow
			1.1.4 Green
			1.1.5 SeaGreen
			1.1.6 Cyan
			1.1.7 Skyblue
			1.1.8 Blue
			1.1.9 Indigo
			1.1.10 Magenta
			1.1.11 Grey
			1.1.12 White
			1.1.13 Black
			
	3.0 Text Colours
		3.1 Basic Colours
			3.1.1 Red
			3.1.2 Orange
			3.1.3 Yellow
			3.1.4 Green
			3.1.5 SeaGreen
			3.1.6 Cyan
			3.1.7 Skyblue
			3.1.8 Blue
			3.1.9 Indigo
			3.1.10 Magenta
			3.1.11 Grey
			3.1.12 White
			3.1.13 Black
*********************************/

/* -- 1.1.1. Red  -- */
.BG_red_1 {
	background-color:	#FFE9E9;
}
.BG_red_2 {
	background-color:	#FFD3D3;
}
.BG_red_3 {
	background-color:	#FFBDBD;
}
.BG_red_4 {
	background-color:	#FFA7A7;
}
.BG_red_5 {
	background-color:	#FF9191;
}
.BG_red_6 {
	background-color:	#FF7B7B;
}
.BG_red_7 {
	background-color:	#FF6565;
}
.BG_red_8 {
	background-color:	#FF4F4F;
}
.BG_red_9 {
	background-color:	#FF3939;
}
.BG_red_10 {
	background-color:	#FF2323;
}
.BG_red_11{
	background-color:	#FF0D0D;
}
.BG_red_12 {
	background-color:	#F60000;
}
.BG_red_13 {
	background-color:	#E00000;
}
.BG_red_14 {
	background-color:	#CA0000;
}
.BG_red_15 {
	background-color:	#B40000;
}
.BG_red_16 {
	background-color:	#9E0000;
}
.BG_red_17 {
	background-color:	#880000;
}
.BG_red_18 {
	background-color:	#720000;
}
.BG_red_19 {
	background-color:	#5C0000;
}
.BG_red_20 {
	background-color:	#460000;
}
.BG_red_21 {
	background-color:	#300000;
}
.BG_red_22 {
	background-color:	#1A0000;
}

/* -- 1.1.2. Orange -- */

.BG_orange_1 {
	background-color:	#FFF7E9;
}
.BG_orange_2 {
	background-color:	#FFEED3;
}
.BG_orange_3 {
	background-color:	#FFE5BD;
}
.BG_orange_4 {
	background-color:	#FFDDA7;
}
.BG_orange_5 {
	background-color:	#FFD491;
}
.BG_orange_6 {
	background-color:	#FFCC7B;
}
.BG_orange_7 {
	background-color:	#FFC365;
}
.BG_orange_8 {
	background-color:	#FFBB4F;	
}
.BG_orange_9 {
	background-color:	#FFB239;
}
.BG_orange_10 {
	background-color:	#FFAA23;
}
.BG_orange_11{
	background-color:	#FFA10D;
}
.BG_orange_12 {
	background-color:	#F69600;
}
.BG_orange_13 {
	background-color:	#E08900;	
}
.BG_orange_14 {
	background-color:	#CA7C00;
}
.BG_orange_15 {
	background-color:	#B46E00;	
}
.BG_orange_16 {
	background-color:	#9E6100;	
}
.BG_orange_17 {
	background-color:	#885300;
}
.BG_orange_18 {
	background-color:	#724600;
}
.BG_orange_19 {
	background-color:	#5C3800;
}
.BG_orange_20 {
	background-color:	#462B00;
}
.BG_orange_21 {
	background-color:	#301D00;
}
.BG_orange_22 {
	background-color:	#1A1000;
}

/* -- 1.1.3. Yellow -- */

.BG_yellow_1 {
	background-color:	#FFFFE9;
}
.BG_yellow_2 {
	background-color:	#FEFFD3;
}
.BG_yellow_3 {
	background-color:	#FEFFBD;
}
.BG_yellow_4 {
	background-color:	#FEFFA7;
}
.BG_yellow_5 {
	background-color:	#FEFF91;
}
.BG_yellow_6 {
	background-color:	#FDFF7B;
}
.BG_yellow_7 {
	background-color:	#FDFF65;
}
.BG_yellow_8 {
	background-color:	#FDFF4F;
}
.BG_yellow_9 {
	background-color:	#FDFF39;
}
.BG_yellow_10 {
	background-color:	#FCFF23;
}
.BG_yellow_11{
	background-color:	#FCFF0D;
}
.BG_yellow_12 {
	background-color:	#F3F600;
}
.BG_yellow_13 {
	background-color:	#DDE000;	
}
.BG_yellow_14 {
	background-color:	#C8CA00;
}
.BG_yellow_15 {
	background-color:	#B2B400;	
}
.BG_yellow_16 {
	background-color:	#9C9E00;
}
.BG_yellow_17 {
	background-color:	#868800;
}
.BG_yellow_18 {
	background-color:	#717200;
}
.BG_yellow_19 {
	background-color:	#5B5C00;
}
.BG_yellow_20 {
	background-color:	#454600;
}
.BG_yellow_21 {
	background-color:	#2F3000;
}
.BG_yellow_22 {
	background-color:	#1A1A00;
}

/* -- 1.1.4. Green -- */

.BG_green_1 {
	background-color:	#E9FFE9;
}
.BG_green_2 {
	background-color:	#D3FFD3;
}
.BG_green_3 {
	background-color:	#BDFFBD;
}
.BG_green_4 {
	background-color:	#A7FFA7;
}
.BG_green_5 {
	background-color:	#91FF91;
}
.BG_green_6 {
	background-color:	#7BFF7B;
}
.BG_green_7 {
	background-color:	#65FF65;
}
.BG_green_8 {
	background-color:	#4FFF4F;	
}
.BG_green_9 {
	background-color:	#39FF39;
}
.BG_green_10 {
	background-color:	#23FF23;
}
.BG_green_11{
	background-color:	#0DFF0D;
}
.BG_green_12 {
	background-color:	#00F600;
}
.BG_green_13 {
	background-color:	#00E000;	
}
.BG_green_14 {
	background-color:	#00CA00;
}
.BG_green_15 {
	background-color:	#00B400;	
}
.BG_green_16 {
	background-color:	#009E00;	
}
.BG_green_17 {
	background-color:	#008800;
}
.BG_green_18 {
	background-color:	#007200;
}
.BG_green_19 {
	background-color:	#005C00;
}
.BG_green_20 {
	background-color:	#004600;
}
.BG_green_21 {
	background-color:	#003000;
}
.BG_green_22 {
	background-color:	#001A00;
}

/* -- 1.1.5. SeaGreen -- */

.BG_seagreen_1 {
	background-color:	#E9FFF3;
}
.BG_seagreen_2 {
	background-color:	#D3FFE7;
}
.BG_seagreen_3 {
	background-color:	#BDFFDB;
}
.BG_seagreen_4 {
	background-color:	#A7FFCE;
}
.BG_seagreen_5 {
	background-color:	#91FFC2;
}
.BG_seagreen_6 {
	background-color:	#7BFFB6;
}
.BG_seagreen_7 {
	background-color:	#65FFAA;
}
.BG_seagreen_8 {
	background-color:	#4FFF9E;	
}
.BG_seagreen_9 {
	background-color:	#39FF92;
}
.BG_seagreen_10 {
	background-color:	#23FF85;
}
.BG_seagreen_11{
	background-color:	#0DFF79;
}
.BG_seagreen_12 {
	background-color:	#00F66E;
}
.BG_seagreen_13 {
	background-color:	#00E064;	
}
.BG_seagreen_14 {
	background-color:	#00CA5A;
}
.BG_seagreen_15 {
	background-color:	#00B450;	
}
.BG_seagreen_16 {
	background-color:	#009E47;	
}
.BG_seagreen_17 {
	background-color:	#00883D;
}
.BG_seagreen_18 {
	background-color:	#007233;
}
.BG_seagreen_19 {
	background-color:	#005C29;
}
.BG_seagreen_20 {
	background-color:	#00461F;
}
.BG_seagreen_21 {
	background-color:	#003015;
}
.BG_seagreen_22 {
	background-color:	#001A0C;
}

/* -- 1.1.6. Cyan -- */

.BG_cyan_1 {
	background-color:	#E9FFFF;
}
.BG_cyan_2 {
	background-color:	#D3FFFE;
}
.BG_cyan_3 {
	background-color:	#BDFFFE;
}
.BG_cyan_4 {
	background-color:	#A7FFFE;
}
.BG_cyan_5 {
	background-color:	#91FFFE;
}
.BG_cyan_6 {
	background-color:	#7BFFFD;
}
.BG_cyan_7 {
	background-color:	#65FFFD;
}
.BG_cyan_8 {
	background-color:	#4FFFFD;	
}
.BG_cyan_9 {
	background-color:	#39FFFD;
}
.BG_cyan_10 {
	background-color:	#23FFFC;
}
.BG_cyan_11{
	background-color:	#0DFFFC;
}
.BG_cyan_12 {
	background-color:	#00F6F3;
}
.BG_cyan_13 {
	background-color:	#00E0DD;	
}
.BG_cyan_14 {
	background-color:	#00CAC8;
}
.BG_cyan_15 {
	background-color:	#00B4B2;	
}
.BG_cyan_16 {
	background-color:	#009E9C;	
}
.BG_cyan_17 {
	background-color:	#008886;
}
.BG_cyan_18 {
	background-color:	#007271;
}
.BG_cyan_19 {
	background-color:	#005C5B;
}
.BG_cyan_20 {
	background-color:	#004645;
}
.BG_cyan_21 {
	background-color:	#00302F;
}
.BG_cyan_22 {
	background-color:	#001A1A;
}

/* -- 1.1.7. Skyblue -- */

.BG_skyblue_1 {
	background-color:	#E9F9FF;
}
.BG_skyblue_2 {
	background-color:	#D3F2FF;
}
.BG_skyblue_3 {
	background-color:	#BDECFF;
}
.BG_skyblue_4 {
	background-color:	#A7E5FF;
}
.BG_skyblue_5 {
	background-color:	#91DFFF;
}
.BG_skyblue_6 {
	background-color:	#7BD8FF;
}
.BG_skyblue_7 {
	background-color:	#65D2FF;
}
.BG_skyblue_8 {
	background-color:	#4FCBFF;	
}
.BG_skyblue_9 {
	background-color:	#39C5FF;
}
.BG_skyblue_10 {
	background-color:	#23BEFF;
}
.BG_skyblue_11{
	background-color:	#0DB8FF;
}
.BG_skyblue_12 {
	background-color:	#00AEF6;
}
.BG_skyblue_13 {
	background-color:	#009EE0;	
}
.BG_skyblue_14 {
	background-color:	#008FCA;
}
.BG_skyblue_15 {
	background-color:	#007FB4;	
}
.BG_skyblue_16 {
	background-color:	#00709E;	
}
.BG_skyblue_17 {
	background-color:	#006088;
}
.BG_skyblue_18 {
	background-color:	#005172;
}
.BG_skyblue_19 {
	background-color:	#00415C;
}
.BG_skyblue_20 {
	background-color:	#003146;
}
.BG_skyblue_21 {
	background-color:	#002230;
}
.BG_skyblue_22 {
	background-color:	#00121A;
}

/* -- 1.1.8. Blue -- */

.BG_blue_1 {
	background-color:	#E9EAFF;
}
.BG_blue_2 {
	background-color:	#D3D5FF;
}
.BG_blue_3 {
	background-color:	#BDBFFF;
}
.BG_blue_4 {
	background-color:	#A7ABFF;
}
.BG_blue_5 {
	background-color:	#9199FF;
}
.BG_blue_6 {
	background-color:	#7B88FF;
}
.BG_blue_7 {
	background-color:	#6574FF;
}
.BG_blue_8 {
	background-color:	#4F60FF;	
}
.BG_blue_9 {
	background-color:	#394CFF;
}
.BG_blue_10 {
	background-color:	#2338FF;
}
.BG_blue_11{
	background-color:	#0D24FF;
}
.BG_blue_12 {
	background-color:	#0017F6;
}
.BG_blue_13 {
	background-color:	#0015E0;	
}
.BG_blue_14 {
	background-color:	#0005CA;
}
.BG_blue_15 {
	background-color:	#0004B4;	
}
.BG_blue_16 {
	background-color:	#00049E;	
}
.BG_blue_17 {
	background-color:	#000388;
}
.BG_blue_18 {
	background-color:	#000372;
}
.BG_blue_19 {
	background-color:	#00025C;
}
.BG_blue_20 {
	background-color:	#000246;
}
.BG_blue_21 {
	background-color:	#000130;
}
.BG_blue_22 {
	background-color:	#00011A;
}

/* -- 1.1.9. Indigo -- */

.BG_indigo_1 {
	background-color:	#F5E9FF;
}
.BG_indigo_2 {
	background-color:	#ECD3FF;
}
.BG_indigo_3 {
	background-color:	#E2BDFF;
}
.BG_indigo_4 {
	background-color:	#D9A7FF;
}
.BG_indigo_5 {
	background-color:	#CF91FF;
}
.BG_indigo_6 {
	background-color:	#C67BFF;
}
.BG_indigo_7 {
	background-color:	#BC65FF;
}
.BG_indigo_8 {
	background-color:	#B24FFF;	
}
.BG_indigo_9 {
	background-color:	#A939FF;
}
.BG_indigo_10 {
	background-color:	#9F23FF;
}
.BG_indigo_11{
	background-color:	#960DFF;
}
.BG_indigo_12 {
	background-color:	#8B00F6;
}
.BG_indigo_13 {
	background-color:	#7E00E0;	
}
.BG_indigo_14 {
	background-color:	#7200CA;
}
.BG_indigo_15 {
	background-color:	#6600B4;	
}
.BG_indigo_16 {
	background-color:	#59009E;	
}
.BG_indigo_17 {
	background-color:	#4D0088;
}
.BG_indigo_18 {
	background-color:	#400072;
}
.BG_indigo_19 {
	background-color:	#34005C;
}
.BG_indigo_20 {
	background-color:	#280046;
}
.BG_indigo_21 {
	background-color:	#1B0030;
}
.BG_indigo_22 {
	background-color:	#0F001A;
}

/* -- 1.1.10. Magenta -- */

.BG_magenta_1 {
	background-color:	#FFE9FF;
}
.BG_magenta_2 {
	background-color:	#FED3FF;
}
.BG_magenta_3 {
	background-color:	#FEBDFF;
}
.BG_magenta_4 {
	background-color:	#FEA7FF;
}
.BG_magenta_5 {
	background-color:	#FB91FF;
}
.BG_magenta_6 {
	background-color:	#FD7BFF;
}
.BG_magenta_7 {
	background-color:	#FD65FF;
}
.BG_magenta_8 {
	background-color:	#FD4FFF;	
}
.BG_magenta_9 {
	background-color:	#F839FF;
}
.BG_magenta_10 {
	background-color:	#FC23FF;
}
.BG_magenta_11{
	background-color:	#FC0DFF;
}
.BG_magenta_12 {
	background-color:	#F300F6;
}
.BG_magenta_13 {
	background-color:	#DD00E0;	
}
.BG_magenta_14 {
	background-color:	#C800CA;
}
.BG_magenta_15 {
	background-color:	#B200B4;	
}
.BG_magenta_16 {
	background-color:	#9C009E;	
}
.BG_magenta_17 {
	background-color:	#860088;
}
.BG_magenta_18 {
	background-color:	#710072;
}
.BG_magenta_19 {
	background-color:	#5B005C;
}
.BG_magenta_20 {
	background-color:	#450046;
}
.BG_magenta_21 {
	background-color:	#2F0030;
}
.BG_magenta_22 {
	background-color:	#1A001A;
}

/* -- 1.1.11. Grey -- */

.BG_grey_1 {
	background-color:	#F4F4F4;
}
.BG_grey_2 {
	background-color:	#E9E9E9;
}
.BG_grey_3 {
	background-color:	#DEDEDE;
}
.BG_grey_4 {
	background-color:	#D3D3D3;
}
.BG_grey_5 {
	background-color:	#C8C8C8;
}
.BG_grey_6 {
	background-color:	#BDBDBD;
}
.BG_grey_7 {
	background-color:	#B2B2B2;
}
.BG_grey_8 {
	background-color:	#A7A7A7;	
}
.BG_grey_9 {
	background-color:	#9C9C9C;
}
.BG_grey_10 {
	background-color:	#919191;
}
.BG_grey_11{
	background-color:	#868686;
}
.BG_grey_12 {
	background-color:	#7B7B7B;
}
.BG_grey_13 {
	background-color:	#707070;	
}
.BG_grey_14 {
	background-color:	#656565;
}
.BG_grey_15 {
	background-color:	#5A5A5A;	
}
.BG_grey_16 {
	background-color:	#4F4F4F;	
}
.BG_grey_17 {
	background-color:	#444444;
}
.BG_grey_18 {
	background-color:	#393939;
}
.BG_grey_19 {
	background-color:	#2E2E2E;
}
.BG_grey_20 {
	background-color:	#232323;
}
.BG_grey_21 {
	background-color:	#181818;
}
.BG_grey_22 {
	background-color:	#0D0D0D;
}

/* -- 1.1.12. White -- */

.BG_white {
	background-color:	#FFFFFF;
}

/* -- 1.1.13. Black -- */

.BG_black {
	background-color:	#000000;
}



/* -- 3.0 Text Colours -- */

/* -- 3.1.1. Red  -- */

.Text_red_1 {
	color:	#FFE9E9;
}
.Text_red_2 {
	color:	#FFD3D3;
}
.Text_red_3 {
	color:	#FFBDBD;
}
.Text_red_4 {
	color:	#FFA7A7;
}
.Text_red_5 {
	color:	#FF9191;
}
.Text_red_6 {
	color:	#FF7B7B;
}
.Text_red_7 {
	color:	#FF6565;
}
.Text_red_8 {
	color:	#FF4F4F;	
}
.Text_red_9 {
	color:	#FF3939;
}
.Text_red_10 {
	color:	#FF2323;
}
.Text_red_11{
	color:	#FF0D0D;
}
.Text_red_12 {
	color:	#F60000;
}
.Text_red_13 {
	color:	#E00000;	
}
.Text_red_14 {
	color:	#CA0000;
}
.Text_red_15 {
	color:	#B40000;	
}
.Text_red_16 {
	color:	#9E0000;	
}
.Text_red_17 {
	color:	#880000;
}
.Text_red_18 {
	color:	#720000;
}
.Text_red_19 {
	color:	#5C0000;
}
.Text_red_20 {
	color:	#460000;
}
.Text_red_21 {
	color:	#300000;
}
.Text_red_22 {
	color:	#1A0000;
}

/* -- 3.1.2. Orange -- */

.Text_orange_1 {
	color:	#FFF7E9;
}
.Text_orange_2 {
	color:	#FFEED3;
}
.Text_orange_3 {
	color:	#FFE5BD;
}
.Text_orange_4 {
	color:	#FFDDA7;
}
.Text_orange_5 {
	color:	#FFD491;
}
.Text_orange_6 {
	color:	#FFCC7B;
}
.Text_orange_7 {
	color:	#FFC365;
}
.Text_orange_8 {
	color:	#FFBB4F;	
}
.Text_orange_9 {
	color:	#FFB239;
}
.Text_orange_10 {
	color:	#FFAA23;
}
.Text_orange_11{
	color:	#FFA10D;
}
.Text_orange_12 {
	color:	#F69600;
}
.Text_orange_13 {
	color:	#E08900;	
}
.Text_orange_14 {
	color:	#CA7C00;
}
.Text_orange_15 {
	color:	#B46E00;	
}
.Text_orange_16 {
	color:	#9E6100;	
}
.Text_orange_17 {
	color:	#885300;
}
.Text_orange_18 {
	color:	#724600;
}
.Text_orange_19 {
	color:	#5C3800;
}
.Text_orange_20 {
	color:	#462B00;
}
.Text_orange_21 {
	color:	#301D00;
}
.Text_orange_22 {
	color:	#1A1000;
}

/* -- 3.1.3. Yellow -- */

.Text_yellow_1 {
	color:	#FFFFE9;
}
.Text_yellow_2 {
	color:	#FEFFD3;
}
.Text_yellow_3 {
	color:	#FEFFBD;
}
.Text_yellow_4 {
	color:	#FEFFA7;
}
.Text_yellow_5 {
	color:	#FEFF91;
}
.Text_yellow_6 {
	color:	#FDFF7B;
}
.Text_yellow_7 {
	color:	#FDFF65;
}
.Text_yellow_8 {
	color:	#FDFF4F;
}
.Text_yellow_9 {
	color:	#FDFF39;
}
.Text_yellow_10 {
	color:	#FCFF23;
}
.Text_yellow_11{
	color:	#FCFF0D;
}
.Text_yellow_12 {
	color:	#F3F600;
}
.Text_yellow_13 {
	color:	#DDE000;	
}
.Text_yellow_14 {
	color:	#C8CA00;
}
.Text_yellow_15 {
	color:	#B2B400;	
}
.Text_yellow_16 {
	color:	#9C9E00;
}
.Text_yellow_17 {
	color:	#868800;
}
.Text_yellow_18 {
	color:	#717200;
}
.Text_yellow_19 {
	color:	#5B5C00;
}
.Text_yellow_20 {
	color:	#454600;
}
.Text_yellow_21 {
	color:	#2F3000;
}
.Text_yellow_22 {
	color:	#1A1A00;
}

/* -- 3.1.4. Green -- */

.Text_green_1 {
	color:	#E9FFE9;
}
.Text_green_2 {
	color:	#D3FFD3;
}
.Text_green_3 {
	color:	#BDFFBD;
}
.Text_green_4 {
	color:	#A7FFA7;
}
.Text_green_5 {
	color:	#91FF91;
}
.Text_green_6 {
	color:	#7BFF7B;
}
.Text_green_7 {
	color:	#65FF65;
}
.Text_green_8 {
	color:	#4FFF4F;	
}
.Text_green_9 {
	color:	#39FF39;
}
.Text_green_10 {
	color:	#23FF23;
}
.Text_green_11{
	color:	#0DFF0D;
}
.Text_green_12 {
	color:	#00F600;
}
.Text_green_13 {
	color:	#00E000;	
}
.Text_green_14 {
	color:	#00CA00;
}
.Text_green_15 {
	color:	#00B400;	
}
.Text_green_16 {
	color:	#009E00;	
}
.Text_green_17 {
	color:	#008800;
}
.Text_green_18 {
	color:	#007200;
}
.Text_green_19 {
	color:	#005C00;
}
.Text_green_20 {
	color:	#004600;
}
.Text_green_21 {
	color:	#003000;
}
.Text_green_22 {
	color:	#001A00;
}

/* -- 3.1.5. SeaGreen -- */

.Text_seagreen_1 {
	color:	#E9FFF3;
}
.Text_seagreen_2 {
	color:	#D3FFE7;
}
.Text_seagreen_3 {
	color:	#BDFFDB;
}
.Text_seagreen_4 {
	color:	#A7FFCE;
}
.Text_seagreen_5 {
	color:	#91FFC2;
}
.Text_seagreen_6 {
	color:	#7BFFB6;
}
.Text_seagreen_7 {
	color:	#65FFAA;
}
.Text_seagreen_8 {
	color:	#4FFF9E;	
}
.Text_seagreen_9 {
	color:	#39FF92;
}
.Text_seagreen_10 {
	color:	#23FF85;
}
.Text_seagreen_11{
	color:	#0DFF79;
}
.Text_seagreen_12 {
	color:	#00F66E;
}
.Text_seagreen_13 {
	color:	#00E064;	
}
.Text_seagreen_14 {
	color:	#00CA5A;
}
.Text_seagreen_15 {
	color:	#00B450;	
}
.Text_seagreen_16 {
	color:	#009E47;	
}
.Text_seagreen_17 {
	color:	#00883D;
}
.Text_seagreen_18 {
	color:	#007233;
}
.Text_seagreen_19 {
	color:	#005C29;
}
.Text_seagreen_20 {
	color:	#00461F;
}
.Text_seagreen_21 {
	color:	#003015;
}
.Text_seagreen_22 {
	color:	#001A0C;
}

/* -- 3.1.6. Cyan -- */

.Text_cyan_1 {
	color:	#E9FFFF;
}
.Text_cyan_2 {
	color:	#D3FFFE;
}
.Text_cyan_3 {
	color:	#BDFFFE;
}
.Text_cyan_4 {
	color:	#A7FFFE;
}
.Text_cyan_5 {
	color:	#91FFFE;
}
.Text_cyan_6 {
	color:	#7BFFFD;
}
.Text_cyan_7 {
	color:	#65FFFD;
}
.Text_cyan_8 {
	color:	#4FFFFD;	
}
.Text_cyan_9 {
	color:	#39FFFD;
}
.Text_cyan_10 {
	color:	#23FFFC;
}
.Text_cyan_11{
	color:	#0DFFFC;
}
.Text_cyan_12 {
	color:	#00F6F3;
}
.Text_cyan_13 {
	color:	#00E0DD;	
}
.Text_cyan_14 {
	color:	#00CAC8;
}
.Text_cyan_15 {
	color:	#00B4B2;	
}
.Text_cyan_16 {
	color:	#009E9C;	
}
.Text_cyan_17 {
	color:	#008886;
}
.Text_cyan_18 {
	color:	#007271;
}
.Text_cyan_19 {
	color:	#005C5B;
}
.Text_cyan_20 {
	color:	#004645;
}
.Text_cyan_21 {
	color:	#00302F;
}
.Text_cyan_22 {
	color:	#001A1A;
}

/* -- 3.1.7. Skyblue -- */

.Text_skyblue_1 {
	color:	#E9F9FF;
}
.Text_skyblue_2 {
	color:	#D3F2FF;
}
.Text_skyblue_3 {
	color:	#BDECFF;
}
.Text_skyblue_4 {
	color:	#A7E5FF;
}
.Text_skyblue_5 {
	color:	#91DFFF;
}
.Text_skyblue_6 {
	color:	#7BD8FF;
}
.Text_skyblue_7 {
	color:	#65D2FF;
}
.Text_skyblue_8 {
	color:	#4FCBFF;	
}
.Text_skyblue_9 {
	color:	#39C5FF;
}
.Text_skyblue_10 {
	color:	#23BEFF;
}
.Text_skyblue_11{
	color:	#0DB8FF;
}
.Text_skyblue_12 {
	color:	#00AEF6;
}
.Text_skyblue_13 {
	color:	#009EE0;	
}
.Text_skyblue_14 {
	color:	#008FCA;
}
.Text_skyblue_15 {
	color:	#007FB4;	
}
.Text_skyblue_16 {
	color:	#00709E;	
}
.Text_skyblue_17 {
	color:	#006088;
}
.Text_skyblue_18 {
	color:	#005172;
}
.Text_skyblue_19 {
	color:	#00415C;
}
.Text_skyblue_20 {
	color:	#003146;
}
.Text_skyblue_21 {
	color:	#002230;
}
.Text_skyblue_22 {
	color:	#00121A;
}

/* -- 3.1.8. Blue -- */

.Text_blue_1 {
	color:	#E9EAFF;
}
.Text_blue_2 {
	color:	#D3D5FF;
}
.Text_blue_3 {
	color:	#BDBFFF;
}
.Text_blue_4 {
	color:	#A7ABFF;
}
.Text_blue_5 {
	color:	#9199FF;
}
.Text_blue_6 {
	color:	#7B88FF;
}
.Text_blue_7 {
	color:	#6574FF;
}
.Text_blue_8 {
	color:	#4F60FF;	
}
.Text_blue_9 {
	color:	#394CFF;
}
.Text_blue_10 {
	color:	#2338FF;
}
.Text_blue_11{
	color:	#0D24FF;
}
.Text_blue_12 {
	color:	#0017F6;
}
.Text_blue_13 {
	color:	#0015E0;	
}
.Text_blue_14 {
	color:	#0005CA;
}
.Text_blue_15 {
	color:	#0004B4;	
}
.Text_blue_16 {
	color:	#00049E;	
}
.Text_blue_17 {
	color:	#000388;
}
.Text_blue_18 {
	color:	#000372;
}
.Text_blue_19 {
	color:	#00025C;
}
.Text_blue_20 {
	color:	#000246;
}
.Text_blue_21 {
	color:	#000130;
}
.Text_blue_22 {
	color:	#00011A;
}

/* -- 3.1.9. Indigo -- */

.Text_indigo_1 {
	color:	#F5E9FF;
}
.Text_indigo_2 {
	color:	#ECD3FF;
}
.Text_indigo_3 {
	color:	#E2BDFF;
}
.Text_indigo_4 {
	color:	#D9A7FF;
}
.Text_indigo_5 {
	color:	#CF91FF;
}
.Text_indigo_6 {
	color:	#C67BFF;
}
.Text_indigo_7 {
	color:	#BC65FF;
}
.Text_indigo_8 {
	color:	#B24FFF;
}
.Text_indigo_9 {
	color:	#A939FF;
}
.Text_indigo_10 {
	color:	#9F23FF;
}
.Text_indigo_11{
	color:	#960DFF;
}
.Text_indigo_12 {
	color:	#8B00F6;
}
.Text_indigo_13 {
	color:	#7E00E0;
}
.Text_indigo_14 {
	color:	#7200CA;
}
.Text_indigo_15 {
	color:	#6600B4;
}
.Text_indigo_16 {
	color:	#59009E;
}
.Text_indigo_17 {
	color:	#4D0088;
}
.Text_indigo_18 {
	color:	#400072;
}
.Text_indigo_19 {
	color:	#34005C;
}
.Text_indigo_20 {
	color:	#280046;
}
.Text_indigo_21 {
	color:	#1B0030;
}
.Text_indigo_22 {
	color:	#0F001A;
}

/* -- 3.1.10. Magenta -- */

.Text_magenta_1 {
	color:	#FFE9FF;
}
.Text_magenta_2 {
	color:	#FED3FF;
}
.Text_magenta_3 {
	color:	#FEBDFF;
}
.Text_magenta_4 {
	color:	#FEA7FF;
}
.Text_magenta_5 {
	color:	#FB91FF;
}
.Text_magenta_6 {
	color:	#FD7BFF;
}
.Text_magenta_7 {
	color:	#FD65FF;
}
.Text_magenta_8 {
	color:	#FD4FFF;
}
.Text_magenta_9 {
	color:	#F839FF;
}
.Text_magenta_10 {
	color:	#FC23FF;
}
.Text_magenta_11{
	color:	#FC0DFF;
}
.Text_magenta_12 {
	color:	#F300F6;
}
.Text_magenta_13 {
	color:	#DD00E0;
}
.Text_magenta_14 {
	color:	#C800CA;
}
.Text_magenta_15 {
	color:	#B200B4;
}
.Text_magenta_16 {
	color:	#9C009E;
}
.Text_magenta_17 {
	color:	#860088;
}
.Text_magenta_18 {
	color:	#710072;
}
.Text_magenta_19 {
	color:	#5B005C;
}
.Text_magenta_20 {
	color:	#450046;
}
.Text_magenta_21 {
	color:	#2F0030;
}
.Text_magenta_22 {
	color:	#1A001A;
}

/* -- 3.1.11. Grey -- */

.Text_grey_1 {
	color:	#F4F4F4;
}
.Text_grey_2 {
	color:	#E9E9E9;
}
.Text_grey_3 {
	color:	#DEDEDE;
}
.Text_grey_4 {
	color:	#D3D3D3;
}
.Text_grey_5 {
	color:	#C8C8C8;
}
.Text_grey_6 {
	color:	#BDBDBD;
}
.Text_grey_7 {
	color:	#B2B2B2;
}
.Text_grey_8 {
	color:	#A7A7A7;
}
.Text_grey_9 {
	color:	#9C9C9C;
}
.Text_grey_10 {
	color:	#919191;
}
.Text_grey_11{
	color:	#868686;
}
.Text_grey_12 {
	color:	#7B7B7B;
}
.Text_grey_13 {
	color:	#707070;
}
.Text_grey_14 {
	color:	#656565;
}
.Text_grey_15 {
	color:	#5A5A5A;
}
.Text_grey_16 {
	color:	#4F4F4F;
}
.Text_grey_17 {
	color:	#444444;
}
.Text_grey_18 {
	color:	#393939;
}
.Text_grey_19 {
	color:	#2E2E2E;
}
.Text_grey_20 {
	color:	#232323;
}
.Text_grey_21 {
	color:	#181818;
}
.Text_grey_22 {
	color:	#0D0D0D;
}

/* -- 3.1.12. White -- */

.Text_white {
	color:	#FFFFFF;
}

/* -- 3.1.13. Black -- */

.Text_black {
	color:	#000000;
}