/*
Title: App Style Sheet
Authors: 
    Andrew Somerville (Capsicum Corporation) <andrew@capsicumcorp.com>
    Brent Jarmaine (Capsicum Corporation) <brenton@capsicumcorp.com>
    Ian Borg (Capsicum Corporation) <ianb@capsicumcorp.com>
Description: The default css file for the iOmy Application.
Copyright: Capsicum Corporation 2015, 2016, 2017

This file is part of iOmy.

iOmy is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

iOmy is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with iOmy.  If not, see <http://www.gnu.org/licenses/>.
*/

/* ================================================================================== */
/* ============================== Table of Contents ================================= */
/* == #1.0# - Base Classes                                                         == */
/* == #2.0# - Andrew Common Classes                                                == */
/* == #3.0# - Common Css Classes                                                   == */
/* == #4.0# - Headers, Sub Headers, Footers                                        == */
/* ==== #4.1# - Headers                                                            == */
/* ==== #4.2# - Sub Headers                                                        == */
/* ==== #4.3# - Footers                                                            == */
/* ==== #4.4# - Footer Help                                                        == */
/* == #5.0# - Navigation Menu                                                      == */
/* ==== #5.1# - Signout                                                            == */
/* == #6.0# - Forms                                                                == */
/* == #7.0# - Tiles                                                                == */
/* ==== #7.1# - Tile Data                                                          == */
/* ==== #7.2# - Tile Popovers                                                      == */
/* == #8.0# - Lists                                                                == */
/* == #9.0# - Fonts                                                                == */
/* == #10.0# - Panels                                                              == */
/* == #11.0# - Buttons                                                             == */
/* ==== #11.1# - Switch User                                                       == */
/* ==== #11.2# - iOmy Overides                                                     == */
/* == #12.0# - Login Page / Switch User                                            == */
/* == #13.0# - Navigation Page                                                     == */
/* == #14.0# - Room List                                                           == */
/* == #15.0# - Device Overview                                                     == */
/* ==== #15.1# - Item Container                                                    == */
/* ==== #15.2# - Item Label                                                        == */
/* ==== #15.3# - Toggle Buttons                                                    == */
/* == #16.0# - Activity Logs                                                       == */
/* == #17.0# - Security Overview                                                   == */
/* == #18.0# - Settings: Overview                                                  == */
/* == #19.0# -                                                                     == */
/* == #20.0# - Settings: Premise List & Overview                                   == */
/* == #21.0# - Settings: Permissions Pages                                         == */
/* == #TODO:# - Deprecated Files                                                   == */
/* ================================================================================== */

/* ================================================================================== */
/* == #1.0# Base Classes                                                           == */
/* ================================================================================== */
/* Reset the body default style */
/* NOTE: The font family is specified here so most elements will inherit the font  */
body{
	font-family: 'Roboto Condensed', sans-serif;
	margin: 0px !important;
	background:#DCDCDC;
	padding: 0px !important; 
	outline: none !important;
}

/* Possibly unused unless the User has plugged(or bluetooth) a mouse into the device running the App/"Mobile Site" */
ul li{
	cursor : pointer;
}

/* ==================================================================================== */
/* == #2.0# - Andrew Common Classes                                                  == */
/* ==================================================================================== */
.FloatLeft {
	float: left;
}

.FloatRight {
	float: right;
}

/* Clears Floating */
/* NOTE: Needs to be applied to a dummy element below the floating elements	*/
.FloatClear {
	clear: both;
}

/* Div auto centers if the Div is smaller than its parent Div */
/* NOTE: The child Div(the one that gets this as its class) should be the only child of the parent Div */
.ElementCenter {
	margin: auto;
}

.ElementChildCenter > *{
	margin: auto;
}

/* Element is not visible and doesn't occupy space on the web browser */
.ElementHidden {
	display: none;
}

/* Element is not visible but still occupies space on the web browser */
.ElementInvisible {
	visibility: hidden;
}

.TextCenter {
	text-align: center;
}

.TextLeft {
	text-align: left;
}

.TextRight {
	text-align: right;
}	

/* ==================================================================================== */
/* == #3.0# - Common Css Classes                                                     == */
/* ==================================================================================== */
.MainBackground {
	background-color: white;
}
	
.BorderTop {
	border-top: 1px rgb(188,190,192) solid; 
}

.BorderBottom {
	border-bottom: 1px rgb(188,190,192) solid; 
}

.BorderLeft {
	border-left: 1px rgb(188,190,192) solid; 
}

.BorderRight {
	border-right: 1px rgb(188,190,192) solid; 
}

/* ==================================================================================== */
/* == #4.0# - Headers, Sub Headers & Footer                                          == */
/* ==================================================================================== */
/* Changes the Background Color of the object to Grey */
.ConsistentMenuHeader {
	background-color: rgb(241,242,242);
}

/* Sets up a Base Header for all Pages */
.ConsistentMenuHeader > div > div > .sapMLabel {
	color: black;
	font-family: "Roboto Condensed", sans-serif;
	font-weight: bold;
	min-height: 20px;
	font-size: 16px;
	/* To center the label within the parent div */
	margin-top: 3px;
}

/* ============================== */
/* == #4.1# - Headers          == */
/* ============================== */

/* #TODO:# - Create a new Unique class to fix overwriting library classes */
/* Aligns the Top Header */
.sapMPage >.sapMPageHeader + section, .sapMPage>.sapMPageSubHeader + section, .sapMPage>.sapMPageHeader + .sapUiHiddenPlaceholder + section {
	top: 3.5rem;
}

/* #TODO:# - Create a new Unique class to fix overwriting library classes */
/* This is used to hide a green bar that is added by the Blue Crystal Library */
.sapMPageHeader::before {
	display:none; 
}

/* #TODO:# - Create a new Unique class to fix overwriting library classes */
/* This is to overwrite the Default Page Header Background */
.sapMPage > .sapMIBar.sapMHeader-CTX {
	background: white;
	box-shadow: 0px 5px 8px #CFCFCF;
	height: 3.5rem;
}

/* ============================== */
/* == #4.2# - Sub Headers      == */
/* ============================== */
/* #TODO:# - Create a new Unique class to fix overwriting library classes */
.sapMIBar.sapMSubHeader-CTX {
	background-color: white;
}

.BackForwardButton {
	border: none;
	background: none;
	height: 100%;
}

/* ============================== */
/* == #4.3# - Footers          == */
/* ============================== */
.footerMBarContainer > div {
	color: black;
	margin-right: 15px;
}
	
.footerMBarContainer > div > img {
	width: 120px;
}

/* Set the Footer Background */	
.sapMIBar-CTX.sapMFooter-CTX.FooterBackgroundColour {
	background-color: rgb(241,242,242);
	height: 3.5rem;
	box-shadow: 0px -5px 8px #9F9F9F;
	border: none;
}

/* Style the Footer Button */
.FooterHelpButton {
	border: none;
	border-radius: 7px;
	background: rgb(88, 89, 91);
	margin-left: 2em;
	height: 37px;
}

.FooterHelpButton.sapMBtnBase > div > span.sapMBtnContent {
	line-height: 1.7rem
}

.FooterHelpButton.sapMBtnBase > div > span {
	line-height: 1.9rem;
	font-weight: normal;
}

/* ============================== */
/* == #4.4# - Footer Help      == */
/* ============================== */
.sapMNavItem > .FooterBackground > .footerMBarContainer > div > .FooterHelpButton {
	margin-left: 5px;
	margin-top: 10px;
}

.UpdateMessageBox > footer.sapMIBar-CTX.sapMFooter-CTX {
	background-image:linear-gradient(to bottom right, #71C900 20%, #60B800 40%, #4F9B00 60%, #4D7900 80%, #2C6B00 100%);
}
.HelpDialog > footer.sapMIBar-CTX.sapMFooter-CTX {
	background-image:linear-gradient(to bottom right, #71C900 20%, #60B800 40%, #4F9B00 60%, #4D7900 80%, #2C6B00 100%);
}

/* ==================================================================================== */
/* == #5.0# - Navigation Menu                                                        == */
/* ==================================================================================== */
ul.IOMYNavMenu > li > div.sapTntNavLIGroup {
	background-color: rgb(241,242,242);
}

.sapTntNavLIGroup:not(.sapTntNavLIItemDisabled):hover {
	background-color: #f0f0f0;
}

ul.IOMYNavMenu > li > div {
	border-bottom: 1px solid rgb(188,190,192);
}

ul.IOMYNavMenu > li:first-child.sapTntNavLIItemSelected > div.sapTntNavLIGroup {
	background-color: #309010;
}

ul.IOMYNavMenu > li:first-child > div {
	padding-top: 50px;
	height:	 90px;
	background:	 #309010 url("../images/navmenuheader.png") no-repeat center top;
}

ul.IOMYNavMenu > li:first-child > div.sapTntNavLIGroup:not(.sapTntNavLIItemDisabled):hover {
	background: #309010 url("../images/navmenuheader.png") no-repeat center top;
	border-bottom: none;
}

ul.IOMYNavMenu > li:first-child > div > span.sapUiIcon {
	color: #FFFFFF;
	font-size: 22px;
}

ul.IOMYNavMenu > li:first-child > div > span.sapMText {
	color: #FFFFFF;
	font-size: 22px;
}

ul.IOMYNavMenu > li:first-child > div.sapTntNavLIGroup:not(.sapTntNavLIItemDisabled):hover > span.sapUiIcon {
	color: #FFFFFF;
}

ul.IOMYNavMenu > li:first-child > div.sapTntNavLIGroup:not(.sapTntNavLIItemDisabled):hover > span.sapMText {
	color: #FFFFFF;
}

ul.IOMYNavMenu > li > div.sapTntNavLIGroup.sapTntNavLIItem > .sapTntNavLIExpandIcon {
	color: rgb(139,197,63);
}

ul.IOMYNavMenu > li:first-child > div.sapTntNavLIGroup.sapTntNavLIItem > .sapTntNavLIExpandIcon {
	color: white;
}

.IOMYNavMenuContainer {
	width: 80%;
	min-width: 250px;
	max-width: 400px;
	font-weight: bold;
}


/* == Changes the default hover background color for 
selected nav items from bluecrystal blue to iOmy green  == */
.sapTntNavLIItemSelected.sapTntNavLIGroupItem:hover {
    background-color: #d6f7c6;
}

/* == Changes the default background color for selected 
nav items from bluecrystal blue to iOmy green  == */
.sapTntNavLIItemSelected.sapTntNavLIGroupItem {
	background-color: #d6f7c6;
}

/* ============================== */
/* == #5.1# - Signout          == */
/* ============================== */

/* == Changes the default icon color for 
messageboxes from bluecrystal blue to iOmy green == */
.sapMDialog.sapMMessageBoxQuestion .sapMDialogIcon.sapUiIcon {
	color: #8bc53f;
}

/* == Changes the default box-shadow color for 
messageboxes from bluecrystal blue to iOmy green == */
.sapMMessageBoxQuestion>.sapMBar {
    box-shadow: inset 0 -0.0625rem #8bc53f;
}

.iOmySignout > .sapMIBar.sapMFooter-CTX {
    background-image: linear-gradient(to bottom right, #71C900 20%, #60B800 40%, #4F9B00 60%, #4D7900 80%, #2C6B00 100%);
}
/* ==================================================================================== */
/* == #6.0# - Forms                                                                  == */
/* ==================================================================================== */
.UserInputForm {
	margin: 0 auto;
	max-width: 550px;
}

.UserInputForm.ZigbeeDataPage {
	max-width: 565px;
}

.ZigbeeDataPage > .sapMPanelContent {
	margin-right: 6px;
}

.TelnetOutput.sapMInputBase.sapMTextArea {
	height: 300px;
}

/* Changes the "Hover" color of input boxes to green */
.SettingsTextInput > .sapMInputBaseInner:not(.sapMInputBaseReadonlyInner):not(.sapMInputBaseStateInner):not(.sapMInputBaseDisabledInner):hover {
		border-color: rgb(139,197,63);
} 

/* Changes the "Focus" color of input boxes to green */
.SettingsTextInput > .sapMInputBaseInner:not(.sapMInputBaseReadonlyInner):not(.sapMInputBaseStateInner):not(.sapMInputBaseDisabledInner):focus {
		border-color: rgb(139,197,63);
}

/* Date Pickers - Changes the right "calendar" icon to have a green background */
.UserFormSection > .sapMFlexItem > .SettingsTextInput > div > span.sapMInputValHelpInner:active {
	    background-color: rgb(139,197,63);
}

/* Check Boxes - Changes the "Hover" of a check box to green */
.IOMYButton > .sapMCbHoverable:hover {
	border-color: rgb(139, 197, 63);
}
/* ==================================================================================== */
/* == #7.0# - Tiles                                                                  == */
/* ==================================================================================== */
/* ============================== */
/* == #7.1# - Tile Data        == */
/* ============================== */

/* Toggle Status Styling */
.TileToggleThingStatusLabel {
	text-align: center;
	width: 100%;
	font-size: 1.25rem;
	color: navy;
}

/* ============================== */
/* == #7.2# - Tile Popovers    == */
/* ============================== */
.TileSensorMenu > section > div > div > div > div > header > div > ul > li.sapMSegBBtn.sapMSegBBtnFocusable.sapMSegBBtnSel:hover,
.TileSensorMenu > section > div > div > div > div > header > div > ul > li.sapMSegBBtnFocusable.sapMBtnActive:hover  {
	background: rgb(139, 197, 63);
}

.TileSensorMenu > section > div > div > div > div > header > div > ul > li.sapMSegBBtn.sapMSegBBtnFocusable.sapMSegBBtnSel {
	border-right: 1px solid #006ca7;
}

.TileSensorMenu > section > div > div > div > div > header > div > ul > li.sapMSegBBtn.sapMSegBBtnSel {
	background: rgb(139, 217, 83);
	color: #ffffff;
	border-color: rgb(139, 197, 63);
}

/* ==================================================================================== */
/* == #8.0# - Lists & Links                                                          == */
/* ==================================================================================== */

/* Used for all links that have a non-green background */
.iOmyLink {
	white-space: normal;
	font-family: "Roboto Condensed", sans-serif;
}

.iOmyLink:visited {
	color: rgb(139, 197, 63);
}

.iOmyLink:hover:not(.sapMLnkDsbl) {
	color: rgb(139, 197, 63);
}

/* Used for links that have a green background */
.iOmyLink.AcceptSubmitButton:visited {
	color: darkgreen;
}

.iOmyLink.AcceptSubmitButton:hover {
	color: darkgreen;
}

/* List Items */
.ListItem {
	border-bottom: 1px rgb(188,190,192) solid;
}

.ListItemImportant {
	background-color: #508F00;
}

/* ==================================================================================== */
/* == #9.0# - Fonts                                                                  == */
/* ==================================================================================== */
.TextBold {
	font-weight: bold;
}

.Font-Main {
	font-family: "Roboto Condensed", sans-serif;
	color: rgb(03,94,58);
}
	
/* This is a simple class that can be used to set some of the elements to the correct font */
/* NOTE: This is a Google Font and if this font isn't working it will require someone to check that the URL is still active */
/* URL: http://fonts.googleapis.com/css?family=Roboto+Condensed */
.Font-RobotoCondensed {
	font-family: "Roboto Condensed", sans-serif;
}
/* ==================================================================================== */
/* == #10.0# - Panels                                                                == */
/* ==================================================================================== */
/* Removes all padding from the panel content */
.PanelNoPadding > div.sapMPanelContent {
	padding: 0px;
}

/* Removes all padding except bottom from the panels content */
.PanelNoTopOrSidesPadding > div.sapMPanelContent {
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
}

/* Removes padding from the top of the panels content */
.PanelNoTopPadding > div.sapMPanelContent {
	padding-top: 0px;
}

/* ==================================================================================== */
/* == #11.0# - Buttons                                                               == */
/* ==================================================================================== */
.ButtonIconWhite > div > .sapMBtnIcon:before {
	color: white;
}

.ButtonIconGreen > div > .sapMBtnIcon:before {
	color: rgb(139,197,63);
}

.ButtonNoBorder {
	border:none;
}

.YellowLinkButton {
	background-color: #F4C548;
	color: black;
}

.GreenLinkButton {
	background-color: #85B246;
	color: black;
}

.DarkGreenLinkButton {
	background-color: #10840F;
	color: black;
}

.NormalLinkButton {
	background-color: #109010;
	color: white;
	border-radius: 15px;
}

.DisabledLinkButton {
	background-color: #909090;
	color: white;
	border-radius: 15px;
}

.VideoCaptureButton {
	background-color: #E78B65;
	border: 1px solid white;
	width: 50%;
	color: white;
}

.VideoButtonBarIcon.sapUiIcon:before {
	font-size: 35px;
}

.VideoCaptureButton > .sapMFlexItem > .IOMYButton > div > span.sapMBtnContent {
	font-family: "Roboto Condensed", sans-serif;
	font-size: 16px;
}

.LinkButton {
	color: white;
	border-radius: 15px;
}

.ButtonCircle {
	border-radius: 50%;
}
	
/* Changes the Radio Button Background to be Green */
/* Currently Used on Permission Pages & TileSensorMenu*/
.iOmyRadioButtons > div.sapMRbSel > div > div > div.sapMRbBInn {
	background-color: rgb(139, 197, 63);
}

/* Changes the Radio Button Border Color whilst hovering / Selecting to be Green */
.iOmyRadioButtons > div > div > div.sapMRbHoverable:hover, 
.iOmyRadioButtons > div.sapMRbBTouched > div.sapMRbB > div.sapMRbBOut{
	border-color: rgb(139, 197, 63);
}

/* ============================== */
/* == #11.1# - Switch User     == */
/* ============================== */
.SwitchUserButton {
	margin-top: 10px;
	border: none;
	border-radius: 7px;
	background-color: white !important;
	height: 30px;
}

.sapMBar > .sapMBarContainer > .SwitchUserButton {
	margin-top: 6.5%;
	margin-right: 8px;
	border-radius: 4px;
	height: 70%;
}

.SwitchUserButton > div > .sapMBtnContent {
	line-height: 2.25em;
}

.SwitchUserButton:focus {
	outline-width: 0;
}

.SwitchUserButton.sapMBtnBase > div > img {
	width: 20px;
	margin-left: 6px;
	margin-right: 7px;
	margin-top: 9px;
}

.SwitchUserButton.sapMBtnBase > div > img {
	/*margin-left: 10px;*/
}

/* ============================== */
/* == #11.2# - iOmy Overides   == */
/* ============================== */
button.IOMYButton > .sapMBtnInner {
	border: none;
	background: none;
}

button.IOMYButton.PremiseOverviewRoomButton > .sapMBtnInner > .sapMBtnContent {
	font-family: "Roboto Condensed", sans-serif;
	line-height: 2.5rem;
}

button.IOMYButton.DeviceButton > .sapMBtnInner > .sapMBtnContent {
	font-family: "Roboto Condensed", sans-serif;
	line-height: 2.5rem;
}

button.IOMYButton.CameraPTZButton > .sapMBtnInner > .sapMBtnIcon {
	text-shadow: 2px 2px black;
	font-size: 1.775rem;
}

button.IOMYButton.SecurityPageButton {
	height: 38px;
}

button.IOMYButton.SecurityPageButton > .sapMBtnInner > .sapMBtnIcon {
	line-height: 1.9rem;
}

button.IOMYButton.SecurityPageButton > .sapMBtnInner > .sapMBtnContent {
	font-family: "Roboto Condensed", sans-serif;
	line-height: 1.9rem;
}

button.IOMYButton.IODeviceButton {
	height: 32px;
}

button.IOMYButton.IODeviceButton > .sapMBtnInner > .sapMBtnIcon {
	line-height: 1.6rem;
}

button.IOMYButton.IODeviceButton > .sapMBtnInner > .sapMBtnContent {
	font-family: "Roboto Condensed", sans-serif;
	line-height: 1.6rem;
}

button.IOMYButton > div.sapMBtnInner {
	text-shadow : none;
}

button.IOMYButton.Text_white > div.sapMBtnInner.sapMBtnText > span.sapMBtnContent {
	color: white;
}

button.IOMYButton.Text_black > div.sapMBtnInner.sapMBtnText > span.sapMBtnContent {
	color: black;
}

button.IOMYButton.TextSize16px > div.sapMBtnInner > span.sapMBtnIcon {
	font-size: 16px;
}
button.IOMYButton.TextSize18px > div.sapMBtnInner > span.sapMBtnIcon {
	font-size: 18px;
}
button.IOMYButton.TextSize20px > div.sapMBtnInner > span.sapMBtnIcon {
	font-size: 20px;
}
button.IOMYButton.TextSize22px > div.sapMBtnInner > span.sapMBtnIcon {
	font-size: 22px;
}
button.IOMYButton.TextSize40px > div.sapMBtnInner > span.sapMBtnIcon {
	font-size: 40px;
}

button.IOMYButton.TextLeft > div.sapMBtnInner.sapMBtnText > span.sapMBtnContent {
	text-align: left;
}

button.IOMYButtonFlex > div {
	display: flex;
}

.IOMYButton:not(.sapMBtnDisabled) > .sapMBtnInner.sapMBtnActive {
	background-color: rgb(241, 242, 242);
	color: black;
	border-color: rgb(241, 242, 242);
}

button.NavButton.sapMBarChild.sapMBtnBase {
	border: none;
	background: none;
	line-height: 2rem;
}
button.NavButton > div > span.sapUiIcon {
	font-size: 40px;
}

.sapMIBar-CTX.sapMFooter-CTX :not(.sapMBtnDisabled) > .sapMBtnActive {
	background-color: rgb(119,177,43);
}

/* ==================================================================================== */
/* == #12.0# - Login Page / Switch User                                              == */
/* ==================================================================================== */
div.LoginTextInput > input {
	border: none;
	border-radius: 7px;
	background-color: rgba(255,255,255,0.2);
	color: white;
}

div.LoginTextInput > input:placeholder-shown {
	color: white;
}

div.LoginTextInput > input::-webkit-input-placeholder {
	color: white;
}

button.LoginPageSubmit > div {
	border: none;
	border-radius: 8px;
	border-color: #208000;
}

button.LoginPageSubmit > div > span.sapMBtnContent{
	font-family: "Roboto Condensed", sans-serif;
	font-size: large;
	text-align: left;
}

button.LoginPageSubmit > div > span.sapMBtnIcon.sapUiIcon{
	font-size: 22px;
}

.LoginForm {
	background-color: rgb(139, 197, 63);
}

.LoginHelpLink {
	color: rgb(99, 157, 23);
}

/* ==================================================================================== */
/* == #13.0# - Navigation Page                                                       == */
/* ==================================================================================== */
/* #TODO:# - Possibly Deprecated Code - Check NavFragment */
.NavMain-ItemLabel {
	padding-top: 17px;
	color : black;
}

/* This class is used to create the green circles with the values in them  on the navigation page*/
.NavMain_Data_ValueCircle {
	background-color: #55AA00;
	color : white;
	font-weight : bold;
	border-radius: 15px;
	padding: 5px 8px;
	text-align: center;
}

.NavMain_Data_Value_2DigitCircle {
	background-color: #505050;
	color: white;
	font-size: 18px;
	width: 1.5em;
	/*height: 1.5em;*/
	border-radius: 50%;
	padding-top: 4px;
}
.NavMain_Data_Value_2DigitCircle_Important {
	background-color: #500000;
	color: white;
	font-size: 18px;
	width: 1.5em;
	border-radius: 50%;
	padding-top: 4px;
}

.NavMain-DataValue_darkgreen {
	background-color: #108010;
	color: white;
}

/* This class is used for the labels next to the green circle value */
.NavMain_Data_ValueNormal {
	text-align: center;
	font-size: medium;
}

.NavMainNumericFigure {
	background-color: #55AA00;
	color : white;
	font-weight : bold;
	border-radius: 15px;
	padding: 5px 8px;
	text-align: center;
}

.NavMain-DividingBorder {
	border-left: 2px solid #409000;
}

.NavMain-ItemIcon {
	height: 40px;
	width: 40px;
	margin: 10px 3px 3px 3px;
	padding: 8px 6px 4px 6px;
	font-size: 40px;
	color: #404040;
}

.NavMain-ItemLabel {
	padding-top: 24px;
	color: black;
}

.MainPanelBackground {
	background: linear-gradient(to right, #EBD7C9, #FFFFFF);
}

.NavMain-IconBordered_grey {
	border:	 1px solid #404040;
	border-radius: 50%;
	color: #404040;
}

.NavMain-IconBordered_orange {
	border: 1px solid #B55117;
	border-radius: 50%;
	color: #B55117;
}

.NavMain-IconBordered_darkgreen {
	border:	 1px solid #209020;
	border-radius: 50%;
	color: #209020;
}

.NavMain-IconBordered_darkred {
	border: 1px solid #600000;
	border-radius: 50%;
	color: #600000;
}

.NavMain-IconBordered_darkskyblue {
	border: 1px solid #105080;
	border-radius: 50%;
	color: #105080;
}

.NavMain-IconBordered_darkindego {
	border: 1px solid #501080;
	border-radius: 50%;
	color: #501080;
}

.NavHeader-Icon {
	line-height: 2.5rem;
	margin-top: 5px;
	color: #404040;
}

.NavHeader-Text {
	min-width: 50px;
	margin-top: 15px;
	padding: 0px 10px 16px 10px;
	color: #404040;
	white-space: nowrap;
}

/* Darken the child buttons on the Nav popover */
ul.IOMYNavMenu > li > ul > li.sapTntNavLIGroupItem {
	background-color: white;
}

/* ==================================================================================== */
/* == #14.0# - Room List                                                             == */
/* ==================================================================================== */
.Setting-RoomListItemLabel {
	padding-top: 22px;
	padding-bottom: 22px;
	border-right: 2px solid #529B00;
}

/* ==================================================================================== */
/* == #15.0# - Device Overview                                                       == */
/* ==================================================================================== */
/* ============================== */
/* == #15.1# - Item Container  == */
/* ============================== */
.DeviceOverview-ItemContainerDark {
	background: #EEEEEE;
}

.DeviceOverview-ItemContainerLight {
	background: #FFFFFF;
}

/* ============================== */
/* == #15.2# - Item Label      == */
/* ============================== */
.DeviceOverview-DividingBorder {
	border-left: 2px solid #909090;
}

/* ============================= */
/* == #15.3# - Toggle Buttons == */
/* ============================= */
.DeviceToggleButtons {
	border: none;
	border-radius: 7px;
}

.DeviceOverviewStatusToggleSwitch > .sapMSwtOn:not(.sapMSwtAcceptReject) {
	background: rgb(139,197,63) none repeat scroll 0 0;
	border-color: rgb(139,197,63);
}

.DeviceOverviewStatusToggleSwitch > .sapMSwtOff:not(.sapMSwtAcceptReject) {
	background: #ffffff none repeat scroll 0 0;
	border-color: #cc2020;
}

.DeviceOverviewStatusToggleSwitch > .sapMSwtOff .sapMSwtHandle {
	background: #cc2020 none repeat scroll 0 0;
}

.DeviceOverviewStatusToggleSwitch > .sapMSwtOff .sapMSwtLabelOff {
	color: #cc2020;
}

.DeviceOverviewStatusToggleSwitch > .sapMSwtHoverable.sapMSwtOn:hover:not(.sapMSwtAcceptReject) {
	background: #209920 none repeat scroll 0 0;
}

.DeviceOverviewStatusToggleSwitch > .sapMSwtOff:hover:not(.sapMSwtAcceptReject) {
	background: #ffe9e9 none repeat scroll 0 0;
}
/* ==================================================================================== */
/* == #16.0# - Activity Logs                                                         == */
/* ==================================================================================== */
/* #TODO:# - Possibly Deprecated Code */
.ActivityLogEntry {
	padding-top : 8px;
	padding-bottom : 8px;
	margin-left: 4px;
}

.ActivityLogEntryDivider {
	border-right : 1px solid #333333;
}

/* ==================================================================================== */
/* == #17.0# - Security Overview                                                     == */
/* ==================================================================================== */
/* #TODO:# - Possibly Deprecated Code */
.SecurityOverview-IPCameraItemLabel {
	padding-top: 16px;
	padding-bottom: 16px;
	border-right: 2px solid #529B00;
}

.SecurityPageButton > div > span.sapMBtnContent {
	padding-left: 2px;
	padding-right: 30px;
	width: 40px;
}

/* ==================================================================================== */
/* == #18.0# - Settings: Overview                                                    == */
/* ==================================================================================== */
/* #TODO:# - Possibly Deprecated Code */
.Setting-ItemLabel {
	padding-top: 20px;
	padding-bottom: 20px;
	border-right: 2px solid #529B00;
}

.Setting-ItemLabel-NoBorder {
	padding-top: 20px;
	padding-bottom: 20px;
}

.AcceptSubmitButton {
	background-color: rgb(139, 197, 63);
	width: 100%;
	color: white;
	border-radius: 10px;
}

.TelnetCommandButton {
	background-color: rgb(130, 139, 130);
	color: white;
	border-radius: 10px;
}

.SettingsLinks {
	padding-top: 15px;
	padding-bottom: 15px;
}

/* ==================================================================================== */
/* == #19.0# - Libary.css overirdes                                                  == */
/* ==================================================================================== */

/* Changes the default focus color for mobile links from
bluecrystal blue to iOmy green while in desktop mode */
.sap-desktop .sapMLnk:focus:not(.sapMLnkDsbl) {
    outline: 0.0625rem dotted #8bc53f;
}

/* Changes the default text color & focus outline color for links
from bluecrystal blue to iOmy green */
.sapMLnk:active:not(.sapMLnkDsbl), .sapMLnk:focus:not(.sapMLnkDsbl) {
	color: #8bc53f;
	outline: 0.0625rem dotted #8bc53f;
}

/* Changes the default background color & border color for mobile buttons
from bluecrystal blue to iOmy green */
:not(.sapMBtnDisabled) > .sapMBtnInner.sapMBtnActive {
	border-color: #8bc53f;
	background-color: #8bc53f; 
}

/* Changes the default background color of the checkbox tick
from bluecrystal blue to iOmy green */
.sapMActive .sapMCbBg.sapMCbActiveStateOff.sapMCbMarkChecked:before, .sapMCbBg:active.sapMCbActiveStateOff.sapMCbMarkChecked:before, .sapMActive .sapMCbBg.sapMCbMarkChecked:before, .sapMCbBg:active.sapMCbMarkChecked:before {
	color: #8bc53f;
}


/* Changes the default font for mobile select box labels */
.sapMSlt > .sapMSltLabel {
	font-family: 'Roboto Condensed', sans-serif;
}

/* ==================================================================================== */
/* == #20.0# - Settings: Premise List & Overview                                     == */
/* ==================================================================================== */
.Setting-HubItemLabel {
	padding-top: 32px;
	padding-bottom: 32px;
	border-right: 2px solid #529B00;
}
	
/* Overriding UI5 default rules */
.sapMText:not(.Text_red_13) {
	color: rgb(88, 89, 91);
}

/* Sets the "Help" bitton background and border color */
.sapMBar-CTX :not(.sapMBtnDisabled)>.sapMBtnInner.sapMBtnActive {
	background-color: rgb(139, 197, 63);
	border-color: rgb(139, 197, 63);
}

.sapMSelectListItemBase {
	font-family: 'Roboto Condensed', sans-serif;
}

.sapMInputBaseInner {
		font-family: 'Roboto Condensed', sans-serif;
}

.sapMComboBoxBasePicker > div > div > ul > li.sapMSelectListItemBaseSelected {
	background: rgb(241, 242, 242);
}

.sapMLIBSelected + .sapMListTblSubRow {
	background: #e6f9db;
}

html.sap-desktop .sapMBtn:focus>.sapMFocusable {
	outline: 1px solid rgb(241, 242, 242);
	outline-offset: -2px;
}

.sapMCbBg.sapMCbMarkChecked:before {
		color: rgb(139, 197, 63);
}

.footerMBarContainer > .sapMBarContainer > img {
	margin-top: 10px;
}

.sapMPage > .sapMBar > .sapMBarLeft > .sapMImg {
	margin-top: 8px;
	margin-left: 10px;
}

.sapMPage > section > .sapMPanel > .sapMPanelContent {
	height : 100%;
}

.SettingsListPremise-ItemLabel {
	padding-top: 22px;
	color : black;
}

.SettingsListPremise-Data-2DigitCircle {
	background-color: #508a3d;
	color: white;
	font-size: large;
	width: 1.5em;
	height: 1.5em;
	border-radius: 50%;
	padding-top: 4px;
}

/* This class is used for the labels next to the green circle value */
.SettingsListPremise-Data-ValueNormal {
	padding: 5px;
	text-align: center;
}

.SettingsListPremise-Data-NumericFigure {
	background-color: #55AA00;
	color : white;
	font-weight : bold;
	border-radius: 15px;
	padding: 5px 8px;
	text-align: center;
}

.SettingsListPremise-DividingBorder {
	border-left: 2px solid #409000;
}

/* ==================================================================================== */
/* == #21.0# - Settings: Permissions Pages                                           == */
/* ==================================================================================== */
.PermissionsRadioButtonGroup.sapMRbG>.sapMRb, .PermissionsRadioButtonGroup.sapMRbGCol>.sapMRb {
	clear: none;
}
