/*
Title: Heights CSS rules
Author: Andrew Somerville (Capsicum Corporation) <andrew@capsicumcorp.com>
    Daniel Scott-Smith (Capsicum Corporation) <daniel@capsicumcorp.com>
    Brent Jarmaine (Capsicum Corporation) <brenton@capsicumcorp.com>
Description: A set of commonly used height sizes
Copyright: Capsicum Corporation 2015, 2016

This file is part of iOmy.

iOmy is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

iOmy is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with iOmy.  If not, see <http://www.gnu.org/licenses/>.

*/

/*********************************************
 * 		CONTENTS
 *********************************************
 1.0 - Height
 2.0 - Min-Height
 3.0 - Height %
 4.0 - Min-Height %
  *********************************************/
 
 
 
/*********************************************
 * 1.0 - Height
 *********************************************/
 
.height10px {
	height:	10px;
}

.height15px {
	height:	15px;
}

.height20px {
	height:	20px;
}

.height25px {
	height:	25px;
}

.height30px {
	height:	30px;
}

.height35px {
	height:	35px;
}

.height40px {
	height:	40px;
}

.height50px {
	height:	50px;
}

.height60px {
	height:	60px;
}

.height65px {
        height: 65px;
}

.height70px {
	height:	70px;
}

.height80px {
	height:	80px;
}

.height90px {
	height:	90px;
}

.height100px {
	height:	100px;
}

.height120px {
	height:	120px;
}

.height140px {
	height:	140px;
}

.height150px {
	height:	150px;
}

.height160px {
	height:	160px;
}

.height180px {
	height:	180px;
}

.height200px {
	height:	200px;
}

.height220px {
	height:	220px;
}

.height240px {
	height:	240px;
}

.height250px {
	height:	250px;
}

.height260px {
	height:	260px;
}

.height280px {
	height:	280px;
}

.height300px {
	height:	300px;
}

.height320px {
	height:	320px;
}

.height340px {
	height:	340px;
}

.height350px {
	height:	350px;
}

.height360px {
	height:	360px;
}

.height380px {
	height:	380px;
}

.height400px {
	height:	400px;
}

.height420px {
	height:	420px;
}

.height440px {
	height:	440px;
}

.height450px {
	height:	450px;
}

.height460px {
	height:	460px;
}

.height480px {
	height:	480px;
}

.height500px {
	height:	500px;
}

.height520px {
	height:	520px;
}

.height540px {
	height:	540px;
}

.height550px {
	height:	550px;
}

.height560px {
	height:	560px;
}

.height580px {
	height:	580px;
}

.height600px {
	height:	600px;
}

.height620px {
	height:	620px;
}

.height640px {
	height:	640px;
}

.height650px {
	height:	650px;
}

.height660px {
	height:	660px;
}

.height680px {
	height:	680px;
}

.height700px {
	height:	700px;
}

/* AUTO HEIGHT */
.heightAuto {
        height: auto;
}


/*********************************************
 * 2.0 - Min-Height
 *********************************************/

.minheight10px {
	min-height:	10px;
}

.minheight15px {
	min-height:	15px;
}

.minheight20px {
	min-height:	20px;
}

.minheight25px {
	min-height:	25px;
}

.minheight30px {
	min-height:	30px;
}

.minheight40px {
	min-height:	40px;
}

.minheight50px {
	min-height:	50px;
}

.minheight60px {
	min-height:	60px;
}

.minheight70px {
	min-height:	70px;
}

.minheight80px {
	min-height:	80px;
}

.minheight90px {
	min-height:	90px;
}

.minheight100px {
	min-height:	100px;
}

.minheight120px {
	min-height:	120px;
}

.minheight140px {
	min-height:	140px;
}

.minheight150px {
	min-height:	150px;
}

.minheight160px {
	min-height:	160px;
}

.minheight180px {
	min-height:	180px;
}

.minheight200px {
	min-height:	200px;
}

.minheight220px {
	min-height:	220px;
}

.minheight240px {
	min-height:	240px;
}

.minheight250px {
	min-height:	250px;
}

.minheight260px {
	min-height:	260px;
}

.minheight280px {
	min-height:	280px;
}

.minheight300px {
	min-height:	300px;
}

.minheight320px {
	min-height:	320px;
}

.minheight340px {
	min-height:	340px;
}

.minheight350px {
	min-height:	350px;
}

.minheight360px {
	min-height:	360px;
}

.minheight380px {
	min-height:	380px;
}

.minheight400px {
	min-height:	400px;
}

.minheight420px {
	min-height:	420px;
}

.minheight440px {
	min-height:	440px;
}

.minheight450px {
	min-height:	450px;
}

.minheight460px {
	min-height:	460px;
}

.minheight480px {
	min-height:	480px;
}

.minheight500px {
	min-height:	500px;
}

.minheight520px {
	min-height:	520px;
}

.minheight540px {
	min-height:	540px;
}

.minheight550px {
	min-height:	550px;
}

.minheight560px {
	min-height:	560px;
}

.minheight580px {
	min-height:	580px;
}

.minheight600px {
	min-height:	600px;
}

.minheight620px {
	min-height:	620px;
}

.minheight640px {
	min-height:	640px;
}

.minheight650px {
	min-height:	650px;
}

.minheight660px {
	min-height:	660px;
}

.minheight680px {
	min-height:	680px;
}

.minheight700px {
	min-height:	700px;
}

/*********************************************
 * 3.0 - Height %
 *********************************************/
 
 .height5Percent {
	height:	5%;
}

.height10Percent {
	height:	10%;
}

.height15Percent {
	height:	15%;
}

.height20Percent {
	height:	20%;
}

.height25Percent {
	height:	25%;
}

.height30Percent {
	height:	30%;
}

.height35Percent {
	height:	35%;
}

.height40Percent {
	height:	40%;
}

.height45Percent {
	height:	45%;
}

.height50Percent {
	height:	50%;
}

.height55Percent {
	height:	55%;
}

.height60Percent {
	height:	60%;
}

.height65Percent {
	height:	65%;
}

.height70Percent {
	height:	70%;
}

.height75Percent {
	height:	75%;
}

.height80Percent {
	height:	80%;
}

.height85Percent {
	height:	85%;
}

.height90Percent {
	height:	90%;
}

.height95Percent {
	height:	95%;
}

.height100Percent {
	height:	100%;
}

/*********************************************
 * 4.0 - Min-Height %
 *********************************************/
 
 .minheight5Percent {
	min-height:	5%;
}

.minheight10Percent {
	min-height:	10%;
}

.minheight15Percent {
	min-height:	15%;
}

.minheight20Percent {
	min-height:	20%;
}

.minheight25Percent {
	min-height:	25%;
}

.minheight30Percent {
	min-height:	30%;
}

.minheight35Percent {
	min-height:	35%;
}

.minheight40Percent {
	min-height:	40%;
}

.minheight45Percent {
	min-height:	45%;
}

.minheight50Percent {
	min-height:	50%;
}

.minheight55Percent {
	min-height:	55%;
}

.minheight60Percent {
	min-height:	60%;
}

.minheight65Percent {
	min-height:	65%;
}

.minheight70Percent {
	min-height:	70%;
}

.minheight75Percent {
	min-height:	75%;
}

.minheight80Percent {
	min-height:	80%;
}

.minheight85Percent {
	min-height:	85%;
}

.minheight90Percent {
	min-height:	90%;
}

.minheight95Percent {
	min-height:	95%;
}

.minheight100Percent {
	min-height:	100%;
}
