/*
Title: Ian's experimental CSS rules
Author: Ian Borg (Capsicum Corporation) <ianb@capsicumcorp.com>
Description: Ian's experimental CSS rules
Copyright: Capsicum Corporation 2016

This file is part of iOmy.

iOmy is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

iOmy is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with iOmy.  If not, see <http://www.gnu.org/licenses/>.

*/
/* Custom Class for Whitespace: Normal */
.NormalWS {
	white-space: normal;
}

/* Custom Class to allow zigbeesmartplug's to allign correctly */
.webkitflex.hInherit > .sapMFlexItem:first-child {
	height: 90%;
}

/* Custom Class the preloader gif */
.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(../images/Preloader_2.gif) center no-repeat #fff;
}

/* Testing Flex Grow */
.flexgrow1 {
    flex-grow: 1;
    flex-basis: auto;
}
.flexgrow2 {
    flex-grow: 2;
    flex-basis: auto;
}
.flexgrow3 {
    flex-grow: 3;
    flex-basis: auto;
}
.flexgrow4 {
    flex-grow: 4;
    flex-basis: auto;
}


/* Testing for MotionJPEG */
.MotionJPEG {
    margin: 0 auto;
    max-width: 680px;
}

.MJPEG {
max-width:600px;
}

/* Testing for Graphs */
.graphMargin > .sapMPanelContent {
	margin-right: 1.15rem;
}
/******************************************
** Staging UI > Room Permission          **
******************************************/
/* -- Adds in Borders to each "List" -- */ 
.ListMenuHeader {
	border-top: 1px solid #cccccc;
	border-left: 1px solid #cccccc;
	border-right:  1px solid #cccccc;
}

/* -- Adds padding to the "Select Box" Parent -- */
.ListMenuHeader > ul {
	padding: 4px;
}

/* -- Removes Default Bottom Border -- */
.ListMenuHeader > ul > li {
	border-bottom: 0px;
}

.ListApply {
	border-bottom: 0px;
}

/* -- Styles the Title to be consistent with exisitng -- */
.ListMenuHeader > div.sapMListHdr {
	background-color: rgb(241,242,242);
	height: 1.5rem;
	line-height: 1.5rem;
	font-family: "Roboto Condensed", sans-serif;
}

/* -- Adds padding to the "Permissions" Questions -- */
.ListMenuHeader.PermissionPadding > ul > li {
	padding: 10px;
}

/******************************************
** To Be Sorted                          **
******************************************/
.toggleVertMiddle > div > span {
	padding-top: 15px;
}

.maxlabelwidth50Percent > div > label {
	max-width:	50%;
}

.MarLeft10Percent {
	margin-left: 10%;
}

/* Rename to ElementCenterChild */
.DeviceLabelMargin > div:not(.sapMFlexBox) {
	margin: auto;
    margin-left: 0px;
    margin-right: 0px;
}

/* Device Overview Sizing */
.minheight58px {
	min-height:58px;
}
/* Room Overview Sizing */
.minheight73px {
	min-height:73px;
}

/* Let all the flexible items be the same length, regardless of its content */
.webkitflex {
	-webkit-box-flex: 1;
}
/*************************************************** 
** For aligning segemented buttons & Select Boxes **
** in the center of a list - See Thermostat Page  **
***************************************************/
.textaligncenter {
	text-align: center;
}

.textaligncenter > div {
	text-align: left;
}

.textaligncenter > div > div {
	text-align: center;
}
/* To be removed as now deprecated */
.testlabelcont {
	min-width: 170px; 
}
/********************************************* 
** Temp Fix for how the borders are applied **
** To make Page Layouts consistent          **
*********************************************/
.MasterPanel > div.sapMPanelContent {
	border-left: 1px rgb(188,190,192) solid;
	border-right: 1px rgb(188,190,192) solid;
	border-top: 1px rgb(188,190,192) solid;
}

/**************************************************************
** Used to fix issues where the footer overlaps the Page.    **
** sapMPageWithFooter "bottom" value needs to be the same as **
** the Footer's "height" value.                              **
**************************************************************/
.MasterPage.sapMPageWithFooter > section { 
	bottom: 3.5rem;
} 