/*
Title: Ian's experimental CSS rules
Author: Ian Borg (Capsicum Corporation) <ianb@capsicumcorp.com>
Description: Ian's experimental CSS rules
Copyright: Capsicum Corporation 2016

This file is part of iOmy.

iOmy is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

iOmy is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with iOmy.  If not, see <http://www.gnu.org/licenses/>.

*/

/******************************************
** Belize UI5 Upgrade                    **
******************************************/
/* ============================== */
/* == Color Overides           == */
/* ============================== */
/* Changes the TNT Menu icons to "Grey" */
.sapTntNavLIItem>.sapUiIcon {
    color: #666666;
}

/* Changes Button icons to "Grey" */
.sapMBtnIcon {
    color: #666666;
}

/* Changes the NavMenu box shadow to "Light Grey" */
.sapMBar {
    box-shadow: inset 0 -0.0625rem #dddddd;
}

/* Changes the "Help" Dialog's top divider to "Light Green" */
.sapMMessageDialog.sapMMessageBoxInfo>.sapMBar {
    box-shadow: inset 0 -0.0625rem rgb(139, 197, 63);
}

/* Changes the "Active" background color of TNTNavMenu Items to "Light Grey" */
.sapTntNavLI .sapTntNavLIGroup.sapTntNavLIItem:not(.sapTntNavLIItemDisabled):active,
.sapTntNavLI .sapTntNavLIGroupItem.sapTntNavLIItem:not(.sapTntNavLIItemDisabled):active {
	background-color: #f0f0f0; 
}

/* Changes Button Text to "Black" */
.sapMIBar-CTX .sapMBtnInner, .sapMBtnInner {
	color: #333333;
}

/* Changes Button Text during ":hover" to "Black"*/
.sapMIBar-CTX .sapMBtn:hover>.sapMBtnHoverable:not(.sapMBtnActive) {
    background-color: rgba(179,179,179,0.5);
    color: #333333;
    border-color: transparent;
}

/* Changes ":visted" color to "iOmy Green" for links */
.sapMLnk:visited {
    color: rgb(139, 197, 63);
}

/* Changes ":hover" color to "iOmy Green" for links */
.sapMLnk:hover:not(.sapMLnkDsbl) {
    color: darkgreen;
}
/* Changes link text color to "Grey" */
.sapMLnk {
	color: #232323;
}

/* Changes "Select Box" borders to " iOmy Green" during ":hover"*/
.sapMSltHoverable:not(.sapMSltState):hover {
    border-color: rgb(139,197,63);
    background: #ffffff;
}

/* Changes "Select Box" borders to " iOmy Green" during ":active"*/
.sapMSltPressed:not(.sapMSltDisabled):not(.sapMSltState) {
    border-color: rgb(139,197,63);
}

/* Changes "Select Box" borders to " iOmy Green" during ":focus" */
html.sap-desktop .sapMSlt:not(.sapMSltDisabled):not(.sapMSltState):focus {
    border-color: rgb(139,197,63);
}

/* Changes "Select Box" item hover to "iOmy Green" during ":hover" */
.sapMSelectListItemBaseSelected.sapMSelectListItemBaseHoverable:hover {
    background-color: #e6f9e6;
}

/* Changes "Select Box" item selected to "iOmy Green" */
.sapMSelectListItemBaseSelected {
    background: #e6f9e6;
}

/* Changes "Select Box" item selected to "dark green" during ":focus" */
.sapMSelectListItemBase.sapMSelectListItemBasePressed, 
.sapMSelectListItemBase.sapMSelectListItemBasePressed.sapMSelectListItemBaseSelected {
    background-color: darkgreen;
	color: #000000;
}

/* Changes "Select Box" down arrow to black */
.sapMSltArrow {
	color: #000000;
}

/* Changes "Check Box" borders to " iOmy Green" during "Hover"*/
.sapMCbHoverable:hover {
    border-color: rgb(139,197,63);
    background: #ffffff;
}

/* Changes "Calendar" selected item to "Dark Green"*/
.sapUiCalItemSel {
    background-color: darkgreen;
}

/* Changes "Calendar" selected item to "Dark Green" during ":hover" & ":focus" */
html.sap-desktop .sapUiCalItemSel:hover, html.sap-desktop .sapUiCalItemSel:focus {
    background-color: darkgreen;
}

/* Changes "Calendar" Heading text color to "Black" */
.sapUiCalHead>.sapUiCalHeadB, .sapUiCalCancel, html.sap-desktop .sapUiCalHead>.sapUiCalHeadB:hover, 
html.sap-desktop .sapUiCalHead>.sapUiCalHeadB:focus {
    color: #000000;
}
/* Changes "Calendar" Heading text color to "Black" */
.sapUiCalHead>button:active, .sapUiCalCancel:active, html.sap-desktop .sapUiCalHead>button:active, 
html.sap-desktop .sapUiCalHead>button:active>.sapUiCalHeadBAddText, html.sap-desktop .sapUiCalCancel:active {
    background-color: darkgreen;
}

/* Changes the TNT Menu Selected Item hover color to "Light Green" */
.sapTntNavLIItemSelected .sapTntNavLIItem:hover, .sapTntNavLIItemSelected.sapTntNavLIGroupItem.sapTntNavLIGroupItem:hover {
    background-color: #e6f9e6;
}

html.sap-desktop .sapMToggleBtnPressed, .sapMToggleBtnPressed, html.sap-desktop .sapMIBar-CTX .sapMToggleBtnPressed,
 .sapMIBar-CTX .sapMToggleBtnPressed, html.sap-desktop .sapMTB-Transparent-CTX .sapMBtnInner.sapMToggleBtnPressed,
 .sapMTB-Transparent-CTX .sapMBtnInner.sapMToggleBtnPressed {
	background-color: #f89a8f;
	border-color: #f35745;
 }
/* ============================== */
/* == Footers                  == */
/* ============================== */
/* Styles the base for the help button */
.FooterHelpButton {
	border-radius: 7px;
	background: rgb(88, 89, 91);
	margin-top: 12.5%;
	height: 38px;
}

/* Changes the text color of "Help" to white and removes the text shadowing */
.FooterHelpButton > span:first-child, .FooterHelpButton > div > span:first-child {
	color: #ffffff;
	text-shadow: 0 1px 0 rgba(0,0,0,0.5);
	font-size: 0.8rem;
	line-height: 2rem;
	height:30px;
}

/* Center's the Text & Icon for the help button & changes the "?" to white */
.FooterHelpButton > span > span, .FooterHelpButton > div > span {
	line-height: 2rem;
	font-size: 1rem;
	height: 30px;
	color: #ffffff;
}

/* Temporary until Blue Crystal is updated to Belize */
.FooterHelpButton > div {
	height: 30px;
}

/* Sets the Hover color of the "Help" text to white */
.sapMIBar-CTX .FooterHelpButton.sapMBtn:hover>.sapMBtnHoverable:not(.sapMBtnActive) {
	color: #ffffff;
}

/* Fixes the height of the "Telnet Output" box after "Belize" upgrade */
.TelnetOutput > textarea {
	height: 100% !important;
}
/******************************************
** UI5 Upgrade End                       **
******************************************/

/* Custom Class for Telnet Button Font */
.cTelnetButton > span.sapMBtnInner {
	font-size: 0.8rem;
	padding: 0;
	width: 100px;
}



/* Custom Class for Whitespace: Normal */
.NormalWS {
	white-space: normal;
}

/* Custom Class to allow zigbeesmartplug's to allign correctly */
.webkitflex.hInherit > .sapMFlexItem:first-child {
	height: 90%;
}

/* Custom Class the preloader gif */
.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(../images/Preloader_2.gif) center no-repeat #fff;
}

/* Testing Flex Grow */
.flexgrow1 {
    flex-grow: 1;
    flex-basis: auto;
}
.flexgrow2 {
    flex-grow: 2;
    flex-basis: auto;
}
.flexgrow3 {
    flex-grow: 3;
    flex-basis: auto;
}
.flexgrow4 {
    flex-grow: 4;
    flex-basis: auto;
}


/* Testing for MotionJPEG */
.MotionJPEG {
    margin: 0 auto;
    max-width: 680px;
}

.MJPEG {
	max-width:600px;
	border-right: 1px rgb(188,190,192) solid;
}

/* Testing for Graphs */
.graphMargin > .sapMPanelContent {
	margin-right: 1.15rem;
}
/******************************************
** Staging UI > Room Permission          **
******************************************/
/* -- Adds in Borders to each "List" -- */ 
.ListMenuHeader {
	border-top: 1px solid #cccccc;
	border-left: 1px solid #cccccc;
	border-right:  1px solid #cccccc;
}

/* -- Adds padding to the "Select Box" Parent -- */
.ListMenuHeader > ul {
	padding: 4px;
}

/* -- Removes Default Bottom Border -- */
.ListMenuHeader > ul > li {
	border-bottom: 0px;
}

.ListApply {
	border-bottom: 0px;
}

/* -- Styles the Title to be consistent with exisitng -- */
.ListMenuHeader > div.sapMListHdr {
	background-color: rgb(241,242,242);
	height: 1.5rem;
	line-height: 1.5rem;
	font-family: "Roboto Condensed", sans-serif;
}

/* -- Adds padding to the "Permissions" Questions -- */
.ListMenuHeader.PermissionPadding > ul > li {
	padding: 10px;
}

/******************************************
** To Be Sorted                          **
******************************************/
.toggleVertMiddle > div > span {
	padding-top: 15px;
}

.maxlabelwidth50Percent > div > label {
	max-width:	50%;
}

.MarLeft10Percent {
	margin-left: 10%;
}

/* Rename to ElementCenterChild */
.DeviceLabelMargin > div:not(.sapMFlexBox) {
	margin: auto;
    margin-left: 0px;
    margin-right: 0px;
}

/* Device Overview Sizing */
.minheight58px {
	min-height:58px;
}
/* Room Overview Sizing */
.minheight73px {
	min-height:73px;
}

/* Let all the flexible items be the same length, regardless of its content */
.webkitflex {
	-webkit-box-flex: 1;
}
/*************************************************** 
** For aligning segemented buttons & Select Boxes **
** in the center of a list - See Thermostat Page  **
***************************************************/
.textaligncenter {
	text-align: center;
}

.textaligncenter > div {
	text-align: left;
}

.textaligncenter > div > div {
	text-align: center;
}
/* To be removed as now deprecated */
.testlabelcont {
	min-width: 170px; 
}
/********************************************* 
** Temp Fix for how the borders are applied **
** To make Page Layouts consistent          **
*********************************************/
.MasterPanel > div.sapMPanelContent {
	border-left: 1px rgb(188,190,192) solid;
	border-right: 1px rgb(188,190,192) solid;
	border-top: 1px rgb(188,190,192) solid;
}

/**************************************************************
** Used to fix issues where the footer overlaps the Page.    **
** sapMPageWithFooter "bottom" value needs to be the same as **
** the Footer's "height" value.                              **
**************************************************************/
.MasterPage.sapMPageWithFooter > section { 
	bottom: 3.5rem;
} 