/*
Title: Ian's experimental CSS rules
Author: Ian Borg (Capsicum Corporation) <ianb@capsicumcorp.com>
Description: Ian's experimental CSS rules
Copyright: Capsicum Corporation 2016

This file is part of iOmy.

iOmy is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

iOmy is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with iOmy.  If not, see <http://www.gnu.org/licenses/>.

*/

.ConsistentMenuHeader > div > div > .sapMLabel {
	/* background-color: rgb(241,242,242); */
	color: black;
	font-family: "Roboto Condensed", sans-serif;
	font-weight: bold;
	min-height: 20px;
	font-size: 16px;
}

.toggleVertMiddle > div > span {
	padding-top: 15px;
}

.maxlabelwidth50Percent > div > label {
	max-width:	50%;
}

.textaligncenter {
	text-align: center;
}

.MarLeft10Percent {
	margin-left: 10%;
}

/* For aligning segemented buttons & Select Boxes
in the center of a list - See Thermostat Page */

.textaligncenter > div {
	text-align: left;
}

.textaligncenter > div > div {
	text-align: center;
}

.testlabelcont {
	width: 80%;
	min-width: 170px; 
}
 

@media screen and (max-device-width: 480px) {
    .testlabelcont {
		width: 80%;
		max-width: 145px;
		min-width: 150px;
    }
}

@media screen and (min-device-width: 640px) {
    .testlabelcont {
		width: 80%;
		max-width: 185px;
    }
}

.MasterPanel > div.sapMPanelContent {
	border-left: 1px rgb(188,190,192) solid;
	border-right: 1px rgb(188,190,192) solid;
	border-top: 1px rgb(188,190,192) solid;
}

/* Used to fix issues where the footer overlaps the Page.
sapMPageWithFooter "bottom" value needs to be the same as 
the Footer's "height" value. */

.MasterPage.sapMPageWithFooter > section { 
	bottom: 3.5rem;
} 