/*
Title: Brent's experimental CSS Rules
Author: Brent's Jarmaine (Capsicum Corporation) <brenton@capsicumcorp.com>
Description: Brent's experimental CSS rules
Copyright: Capsicum Corporation 2016, 2017

This file is part of iOmy.

iOmy is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

iOmy is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with iOmy.  If not, see <http://www.gnu.org/licenses/>.

*/

.BoxSizingBorderBox {
	box-sizing: border-box;
}

.PaddingToMatchButtonText {
	padding-left: 0.75rem;
	padding-right: 0.75rem;
}

/* No shrinking under any circumstances.*/
.FlexNoShrink {
	flex-shrink: 0; 
}

.TextOverflowEllipsis {
	text-overflow: ellipsis;
	overflow: hidden;
}

.FilterActive.sapTntNavLIGroup:not(.sapTntNavLIItemDisabled) {
	background-color: #e2e2e2;
}
.FilterActive.sapTntNavLIGroup:not(.sapTntNavLIItemDisabled):hover {
	background-color: #e2e2e2;
}

.sapMMessageBoxInfo > .sapMBar {
	box-shadow: inset 0 -0.0625rem rgb(139, 197, 63);
}

.sapMDialog.sapMMessageBoxInfo .sapMDialogIcon.sapUiIcon {
	color: rgb(109, 167, 33);
}

.CameraPTZButton.height30px > div.sapMBtnInner {
	height: 30px;
}
.CameraPTZButton.height30px > div.sapMBtnInner > span.sapMBtnIcon {
	line-height: 30px;
}



/*------------------------------------------------------*/
/* PHILIPS HUE SLIDERS
/*------------------------------------------------------*/

.PhilipsHueSlider > .sapMSliderInner {
	background: #AAAAAA;
}

.PhilipsHueSlider > .sapMSliderInner > .sapMSliderProgress {
	background: #AAAAAA;
}

.PhilipsHueSliderHue > .sapMSliderInner {
	background: url(../../resources/images/philipshue/ColorBar.png);
	background-size: 100%;
	height: 0.5875rem;
}

.PhilipsHueSliderHue > .sapMSliderInner > .sapMSliderProgress {
	background: none;
}

.PhilipsHueSliderHue > .sapMSliderInner > .sapMSliderHandle {
	top: -0.71rem;
}

/*------------------------------------------------------*/
/* PHILIPS HUE SWITCH
/*------------------------------------------------------*/
.PhilipsHueSwitch {
	position: relative;
}

.PhilipsHueSwitch > .sapMFlexItem {
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
}

.PhilipsHueSwitch_Link {
	text-align: center;
	line-height: 50px;
}

.PhilipsHueSwitch_On {
	background: rgb(139,197,63);
	color: black;
}

.PhilipsHueSwitch_On:hover:not(.sapMLnkDsbl) {
	color: black;
}

.PhilipsHueSwitch_Off {
	background: rgb(197,63,00);
	color: white;
}

.PhilipsHueSwitch_Off:hover:not(.sapMLnkDsbl) {
	color: white;
}

.CameraThumbnail {
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.IPAddressBox > .sapMFlexItem:first-child {
	width: 100%;
}

.LineHeight40px {
	line-height: 40px;
}

.LineHeight45px {
	line-height: 45px;
}

.sapMComboBoxBasePressed .sapMComboBoxBaseArrow, .sap-desktop .sapMComboBoxBasePressed .sapMComboBoxBaseArrow:hover {
	background: rgb(139,197,63);
}

.sapMSltPressed:not(.sapMSltDisabled) {
	border-color: rgb(139,197,63);
}

.NumberLabel {
	padding: 0.250rem 0px;
	font-size: 18px;
}

@media only screen and (min-width: 551px) {
	.TableSideBorders {
		border-left: 1px rgb(188,190,192) solid;
		border-right: 1px rgb(188,190,192) solid;
	}
}

.RoomPermissionsApplyButton > .sapMFlexItem {
	margin: 10px;
}

.iOmyMessageInfoStrip {
    background-color: #f9f9f9;
    border-color: #7c7c7c;
    text-align: center;
}

/*------------------------------------------------------------------------*/
/* Timepicker styling
/*------------------------------------------------------------------------*/
/*-- Input Widget --*/
.IOMyTimePicker.sapMTimePicker.sapMTPInputActive .sapMInputBaseInner {
    border: 1px solid #8FC74A;
}
.IOMyTimePicker.sapMTPInputActive > .sapMTimePicker.sapMTPInputActive .sapMInputBaseInner {
    border: 1px solid #8FC74A;
}
.IOMyTimePicker.sapMTPInputActive > div.sapMInputValHelp > .sapMInputValHelpInner.sapUiIcon.sapUiIconMirrorInRTL {
    background: #8FC74A;
}
.IOMyTimePicker.sapMInputVH:not(.sapMInputBaseReadonly) .sapMInputValHelp>.sapMInputValHelpInner:active {
    background: #8FC74A;
}

/*-- Popover Widget (Desktop) --*/
.sapMTimePickerDropDown .sapMTimePickerContainer .sapMTPColumn .sapMTimePickerSlider .sapMTimePickerItem {
    background: #8FC74A;
}
.sapMTimePickerDropDown .sapMTimePickerContainer .sapMTPColumn .sapMTimePickerSlider .sapMTimePickerItem:active {
    background: #8FC74A;
}
.sapMTimePickerDropDown .sapMTimePickerContainer .sapMTPColumn .sapMTimePickerSlider .sapMTimePickerItem:hover {
    background: #6F9A39;
}
.sapMTimePickerDropDown .sapMTimePickerContainer .sapMTPColumn.sapMTPSliderExpanded .sapMTimePickerSlider .sapMTimePickerItem:active {
    background: #8FC74A;
}

.sapMTimePickerDropDown .sapMTimePickerContainer .sapMTPColumn.sapMTPSliderExpanded .sapMTimePickerSlider .sapMTPPickerSelectionFrame {
    border: 2px solid #8FC74A;
}
.sapMTimePickerDropDown .sapMTimePickerContainer .sapMTPColumn.sapMTPSliderExpanded .sapMTimePickerSlider .sapMTPPickerSelectionFrame:hover{
    border: 2px solid #6F9A39;
}
.sapMTimePickerDropDown .sapMTimePickerContainer .sapMTPColumn.sapMTPSliderExpanded .sapMTimePickerSlider .sapMTPPickerSelectionFrame:active + ul > li.sapMTimePickerItem.sapMTimePickerItemSelected {
    background: #8FC74A;
}

/*-- Popover Widget (Phone) --*/
.sap-phone .sapMTimePickerDropDown .sapMTimePickerContainer .sapMTPColumn .sapMTimePickerSlider .sapMTimePickerItem {
    background: #8FC74A;
}
.sap-phone .sapMTimePickerDropDown .sapMTimePickerContainer .sapMTPColumn .sapMTimePickerSlider .sapMTimePickerItem:active {
    background: #6F9A39;
}
.sap-phone .sapMTimePickerDropDown .sapMTimePickerContainer .sapMTPColumn.sapMTPSliderExpanded .sapMTimePickerSlider .sapMTPPickerSelectionFrame {
    border: 2px solid #8FC74A;
}

.cTelnetButton > span.sapMBtnInner.sapMToggleBtnPressed:not(.sapMBtnDisabled) {
    background-color: #6dac3e;
    border-color: #53852d;
}

/* Login Button */
.LoginPageSubmit > span.sapMBtnInner.sapMBtnAccept {
    background-color: #2b7d2b;
    border-color: #2b7d2b;
    color: #f7f7f7;
    text-shadow: none;
}
.LoginPageSubmit > span.sapMBtnInner.sapMBtnAccept > .sapMBtnIcon {
    color: #f7f7f7;
}